# connect

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity,text
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-09-29 09:44:11,003 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-29 09:44:11,004 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:44:11,006 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-29 09:44:11,007 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:44:11,009 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-29 09:44:11,010 INFO sqlalchemy.engine.Engine [raw sql] {}

# Book

In [32]:
df_book = pd.read_csv('data_csv_1_25001/book.csv')
df_book.dropna(subset=["code"],inplace=True)
df_book.drop_duplicates(subset=["code"],inplace=True)
df_book.drop('code.1', axis=1,inplace=True)
df_book.to_csv('modified/modified_book.csv', index=False)
df_book.to_sql('book', engine, if_exists='append', index=False)

2023-09-29 13:39:32,475 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:39:32,477 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-29 13:39:32,478 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 13:39:32,485 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 13:39:32,492 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:39:32,563 INFO sqlalchemy.engine.Engine INSERT INTO book (code, title_persian, title_english, price, discount, grade, shabak, page_count, release_year_sh, release_year_mi, exist, earliest_access, print_series, ghate, cover) VALUES (%(code)s, %(title_persian)s, %(title_english)s, %(price)s, %(discount)s, %(grade)s, %(shabak)s, %(page_count)s, %(release_year_sh)s, %(release_year_mi)s, %(exist)s, %(earliest_access)s, %(print_series)s, %(ghate)s, %(cover)s)
2023-09-29 13:39:32,566 INFO sqlalchemy.engine.Engine [generated in 0.06750s] [{'code': 16431.0, 'title_persian': 'مناظره مسلمان و مسیحی', 'title_english': ' Muslim and Christian debate', 'price': 123750, 'discount': 25.0, 'grade': 3.57, 'shabak': '978-9642247059', 'page_count': 268.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 2.0, 'ghate': 'وزیری', 'cover': 'شومیز'}, {'code': 44551.0, 'title_persian': 'طعم سیب زرد', 'title_english': " Ta'me sibe zard", 'price': 49700, 'discount': 30.0, 'grade': 3.41, 'shabak': '978-6002966469', 'page_count': 160.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 4.0, 'ghate': 'پالتویی', 'cover': 'شومیز'}, {'code': 75051.0, 'title_persian': 'نگاهی نو به فلسفه دین کانت', 'title_english': " A new look at Kant's philosophy of religion", 'price': 150000, 'discount': 25.0, 'grade': 3.63, 'shabak': '978-6006730820', 'page_count': 332.0, 'release_year_sh': 1398.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 32993.0, 'title_persian': 'مدیریت خشم', 'title_english': ' Anger Management', 'price': 80000, 'discount': 20.0, 'grade': 3.21, 'shabak': '978-9641703129', 'page_count': 128.0, 'release_year_sh': 1401.0, 'release_year_mi': 2018.0, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 4.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 46770.0, 'title_persian': 'اطوار اندیشه ی اسلامی', 'title_english': ' Atvar-e andishe-ye Eslami', 'price': 120000, 'discount': 20.0, 'grade': 3.21, 'shabak': '978-9642671649', 'page_count': 112.0, 'release_year_sh': 1391.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'جلدسخت'}, {'code': 11759.0, 'title_persian': 'فردیت اشتراکی', 'title_english': ' Shared Individuality', 'price': 129500, 'discount': 30.0, 'grade': 3.2, 'shabak': '9789648175837', 'page_count': 176.0, 'release_year_sh': 1402.0, 'release_year_mi': 2010.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 4.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 61295.0, 'title_persian': 'شما هم می توانید', 'title_english': ' You can too', 'price': 19500, 'discount': 25.0, 'grade': 3.8, 'shabak': '978-6009870851', 'page_count': 98.0, 'release_year_sh': 1397.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 76224.0, 'title_persian': 'مدیر پاشنه بلند', 'title_english': ' High heel manager', 'price': 24500, 'discount': 30.0, 'grade': 3.37, 'shabak': '978-6225816022', 'page_count': 100.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}  ... displaying 10 of 1881 total bound parameter sets ...  {'code': 16501.0, 'title_persian': 'توسعه نیافتگی و صنعتی سازی', 'title_english': ' Underdevelopment and industrialization', 'price': 63675, 'discount': 25.0, 'grade': 3.46, 'shabak': '978-6008942528', 'page_count': 339.0, 'release_year_sh': 1398.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 69485.0, 'title_persian': 'سودوکو', 'title_english': ' Su Doku', 'price': 66500, 'discount': 30.0, 'grade': 3.91, 'shabak': '978-6005482751', 'page_count': 144.0, 'release_year_sh': 1401.0, 'release_year_mi': 2005.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 2.0, 'ghate': 'رقعی', 'cover': 'شومیز'}]
2023-09-29 13:39:32,699 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '16431' for key 'book.PRIMARY'
[SQL: INSERT INTO book (code, title_persian, title_english, price, discount, grade, shabak, page_count, release_year_sh, release_year_mi, exist, earliest_access, print_series, ghate, cover) VALUES (%(code)s, %(title_persian)s, %(title_english)s, %(price)s, %(discount)s, %(grade)s, %(shabak)s, %(page_count)s, %(release_year_sh)s, %(release_year_mi)s, %(exist)s, %(earliest_access)s, %(print_series)s, %(ghate)s, %(cover)s)]
[parameters: [{'code': 16431.0, 'title_persian': 'مناظره مسلمان و مسیحی', 'title_english': ' Muslim and Christian debate', 'price': 123750, 'discount': 25.0, 'grade': 3.57, 'shabak': '978-9642247059', 'page_count': 268.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 2.0, 'ghate': 'وزیری', 'cover': 'شومیز'}, {'code': 44551.0, 'title_persian': 'طعم سیب زرد', 'title_english': " Ta'me sibe zard", 'price': 49700, 'discount': 30.0, 'grade': 3.41, 'shabak': '978-6002966469', 'page_count': 160.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 4.0, 'ghate': 'پالتویی', 'cover': 'شومیز'}, {'code': 75051.0, 'title_persian': 'نگاهی نو به فلسفه دین کانت', 'title_english': " A new look at Kant's philosophy of religion", 'price': 150000, 'discount': 25.0, 'grade': 3.63, 'shabak': '978-6006730820', 'page_count': 332.0, 'release_year_sh': 1398.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 32993.0, 'title_persian': 'مدیریت خشم', 'title_english': ' Anger Management', 'price': 80000, 'discount': 20.0, 'grade': 3.21, 'shabak': '978-9641703129', 'page_count': 128.0, 'release_year_sh': 1401.0, 'release_year_mi': 2018.0, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 4.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 46770.0, 'title_persian': 'اطوار اندیشه ی اسلامی', 'title_english': ' Atvar-e andishe-ye Eslami', 'price': 120000, 'discount': 20.0, 'grade': 3.21, 'shabak': '978-9642671649', 'page_count': 112.0, 'release_year_sh': 1391.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'جلدسخت'}, {'code': 11759.0, 'title_persian': 'فردیت اشتراکی', 'title_english': ' Shared Individuality', 'price': 129500, 'discount': 30.0, 'grade': 3.2, 'shabak': '9789648175837', 'page_count': 176.0, 'release_year_sh': 1402.0, 'release_year_mi': 2010.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 4.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 61295.0, 'title_persian': 'شما هم می توانید', 'title_english': ' You can too', 'price': 19500, 'discount': 25.0, 'grade': 3.8, 'shabak': '978-6009870851', 'page_count': 98.0, 'release_year_sh': 1397.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 76224.0, 'title_persian': 'مدیر پاشنه بلند', 'title_english': ' High heel manager', 'price': 24500, 'discount': 30.0, 'grade': 3.37, 'shabak': '978-6225816022', 'page_count': 100.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-10', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}  ... displaying 10 of 1881 total bound parameter sets ...  {'code': 16501.0, 'title_persian': 'توسعه نیافتگی و صنعتی سازی', 'title_english': ' Underdevelopment and industrialization', 'price': 63675, 'discount': 25.0, 'grade': 3.46, 'shabak': '978-6008942528', 'page_count': 339.0, 'release_year_sh': 1398.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-08', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 69485.0, 'title_persian': 'سودوکو', 'title_english': ' Su Doku', 'price': 66500, 'discount': 30.0, 'grade': 3.91, 'shabak': '978-6005482751', 'page_count': 144.0, 'release_year_sh': 1401.0, 'release_year_mi': 2005.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 2.0, 'ghate': 'رقعی', 'cover': 'شومیز'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# group

In [5]:
df_group = pd.read_csv('data_csv_1_25001/group.csv')
df_group.dropna(subset=["group_id"],inplace=True)
df_group.drop_duplicates(subset=["group_id"],inplace=True)
df_group.rename(columns={'group_id': 'id'}, inplace=True)
df_group.to_csv('modified/modified_group.csv', index=False)
df_group.to_sql('group', engine, if_exists='append', index=False)

2023-09-29 09:46:51,737 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:46:51,737 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-29 09:46:51,739 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:46:51,750 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 09:46:51,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:46:51,776 INFO sqlalchemy.engine.Engine INSERT INTO `group` (id, description) VALUES (%(id)s, %(description)s)
2023-09-29 09:46:51,777 INFO sqlalchemy.engine.Engine [generated in 0.01407s] [{'id': 110769, 'description': 'فاجعه منا یکی از فجایع مهم چند سال اخیر است که در پی بی\u200c تدبیری سعودی\u200c ها، تعداد زیادی از زائرین از ملیت\u200c های مختلف خصوصا ایران از گرم ... (314 characters truncated) ... یت شهدای این فاجعه را به تصویر بکشند. کتاب اکبری دیزگاه دومین اثری است که با مراجعه به شاهدان عینی، سعی در بازخوانی این ماجرا از زاویه دید آنها دارد.'}, {'id': 16431, 'description': 'نویسنده در قالب یک داستان، روشی که معمولا در مباحثات دینی و مذهبی از آن استفاده می شود، این گفتگو را تنظیم کرده و همان طور که اشاره شد، برای شیرین تر ... (1615 characters truncated) ... ت و انجیل را انتشار نمی کردید که عطّار در او دوا بپیچد، صحاف جلد کتاب موش و گربه کند، کلاه دوز قالب کلاه کند، در عداد کاغذهای باطله استعمال شود».....'}, {'id': 26088, 'description': 'برکه سرودۀ شاعر بنام، اسدالله شعبانی، است. این کتاب منظومه ای زیبا دربارۀ سرگذشت برکه ای است که به دور از هیاهوی شهر و زندگی ماشینی، در دل طبیعت، زند ... (74 characters truncated) ... ن و گردش ماهیان و قورباغه ها و جانورانش سرمست می شود. در طول این منظومه، چهار فصل بر برکه و جانورانش سپری می شود و هر فصل زیبایی های خاص خود را دارد.'}, {'id': 32993, 'description': 'اگر می خواهید زندگی موفق تر، سالم تر و شادتری داشته باشید، باید بیاموزید بر احساسات منفی غلبه کنید. احساسات خام و قوی مانند خشم، اغلب شادی و پیشرفت ر ... (872 characters truncated) ... هم وجود دارد. با هدایت این احساس نیرومند، نه تنها از خطر واکنش های تند و عواقب ناشی از آن خلاص می شوید بلکه در قسمت های دیگر زندگی هم پیشرفت می کنید.'}, {'id': 75051, 'description': 'کانت\u200cپژوهان اگرچه رویکرد یکسانی در تفسیر مدعیات دینی و الاهیاتی کانت نداشته\u200cاند اما عموما با تمرکز بر محتوای نقد عقل محض و نتیجه طبیعی آن ک ... (418 characters truncated) ...  بر تجربه عرفانی و معرفت پیشین به خدا تأکید دارند و نشان داده\u200cاند برخلاف برداشت\u200cهای تحویل\u200cگرایانه رایج، دین کانت صرفا همان اخلاق نیست.'}, {'id': 85511, 'description': 'افسردگی یکی از شایع ترین اختلالات روانپزشکی است که تعداد بسیار زیادی از افراد را در طول زندگی شان گرفتار می کند. یک مطالعه کشوری که چند سال قبل در ای ... (818 characters truncated) ... ماست. به ویژه وقتی عوامل تنش زا در جامعه هر روز بیشتر و بیشتر می شود و مشکلات مختلف اجتماعی اقتصادی و سیاسی به شکلی روزافزون از یکدیگر سبقت می گیرند…'}, {'id': 44551, 'description': 'داستان پسر نوجوانی که با مادرش زندگی می کند و از زمانی که پدرش آن ها را رها کرده، یعنی سال ها پیش که او کودکی بیش نبوده دچار مشکلات روحی و جسمی ناخوش ... (124 characters truncated) ... باید در آن سپری کند دل خوشی ندارد، اما باید از تنش، اضطراب و زندگی دروغینی که برای خودش دست و پا کرده است رها شود تا بتواند زندگی آرامی را تجربه کند…'}, {'id': 46770, 'description': 'اطوار حاضر دربردارنده ی شانزده پرسش و پاسخ درباره ی فلسفه ی اسلامی و فیلسوفان اسلامی است. زبان اثر ساده و همراه با اصطلاحات فلسفه و حکمت است. هدف نوی ... (251 characters truncated) ... ینا که در واقع پدر فلسفه ی وجود شناخته شده توضیح دهید»، «افکار ابن رشد چه تأثیری بر فلاسفه غرب داشت؟» از جمله پرسش های پاسخ داده شده در این کتاب است.'}  ... displaying 10 of 2510 total bound parameter sets ...  {'id': 69485, 'description': 'حتما با خود می گویید ریاضیات به خودی خود به اندازه ی کافی ترسناک است، وای به حال آن که صفت ترسناک هم به آن اضافه شده است! پس بهتر است اصلا فکرش را نکنید که طرف این مجموعه بیایید! ولی به شما توصیه می کنیم عجله نکنید و پیش داوری را کنار بگذارید و...'}, {'id': 15353, 'description': '«روز جغد» رمانی متفاوت از پشت پرده شکل گیری مافیا است. لئوناردو شاشا در این اثر سعی کرده تا ریشه های سازمانی مخوف و ریشه دار را به نمایش بگذارد. سازم ... (781 characters truncated) ... ه باید یه چیزی رو که توی خونه پیدا کرده بدون فوت وقت نشون بده. کمیسر به شوخی گفت: «یه جسده؟» -نه، فقط گفت یه چیزی. -یه چیزی... خب این یارو اسمش چیه؟»'}]
2023-09-29 09:46:52,208 INFO sqlalchemy.engine.Engine COMMIT

2510

# group book

In [15]:
from sqlalchemy import create_engine, text
df_group_book = pd.read_csv('data_csv_1_25001/group_book.csv')
df_group_book.dropna(subset=["group_id"],inplace=True)
df_group_book.dropna(subset=["book_code"],inplace=True)
df_group_book['book_code'] = df_group_book['book_code'].astype(int)
query = "select id from `group`"
existing_group_ids = pd.DataFrame(engine.connect().execute(text(query)))['id'].tolist()
valid_mask = df_group_book['group_id'].isin(existing_group_ids)
df_valid_group = df_group_book[valid_mask]
df_valid_group.to_csv('modified/modified_group_book.csv', index=False)
df_valid_group.to_sql('group_book', engine, if_exists='append', index=False)

2023-09-29 09:55:13,008 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:55:13,010 INFO sqlalchemy.engine.Engine select id from `group`
2023-09-29 09:55:13,011 INFO sqlalchemy.engine.Engine [cached since 118.9s ago] {}
2023-09-29 09:55:13,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:55:13,167 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-29 09:55:13,169 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:55:13,194 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 09:55:13,198 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:55:13,668 INFO sqlalchemy.engine.Engine INSERT INTO group_book (group_id, book_code) VALUES (%(group_id)s, %(book_code)s)
2023-09-29 09:55:13,669 INFO sqlalchemy.engine.Engine [generated in 0.43597s] [{'group_id': 16431, 'book_code': 16431}, {'group_id': 44551, 'book_code': 44551}, {'group_id': 75051, 'book_code': 75051}, {'group_id': 32993, 'book_code': 32993}, {'group_id': 46770, 'book_code': 46770}, {'group_id': 11759, 'book_code': 11759}, {'group_id': 61295, 'book_code': 61295}, {'group_id': 76224, 'book_code': 76224}  ... displaying 10 of 47665 total bound parameter sets ...  {'group_id': 91990, 'book_code': 92165}, {'group_id': 91990, 'book_code': 92167}]
2023-09-29 09:55:15,468 INFO sqlalchemy.engine.Engine COMMIT

47665

# person

In [16]:
df_person = pd.read_csv('data_csv_1_25001/person.csv')
df_person.dropna(subset=["id"],inplace=True)
df_person.drop_duplicates(subset=["id"],inplace=True)
if df_person["description"].isnull().all():
    df_person["description"] = 'None'
df_person.drop('counter',axis=1,inplace=True)
df_person.to_csv('modified/modified_person.csv', index=False)
df_person.to_sql('person', engine, if_exists='append', index=False)

2023-09-29 09:56:26,833 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:26,833 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-29 09:56:26,834 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:56:26,872 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 09:56:26,878 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:26,899 INFO sqlalchemy.engine.Engine INSERT INTO person (id, name, description) VALUES (%(id)s, %(name)s, %(description)s)
2023-09-29 09:56:26,900 INFO sqlalchemy.engine.Engine [generated in 0.01794s] [{'id': 6039.0, 'name': 'رسول جعفریان', 'description': 'رسول جعفریان، روحانی و پژوهشگر تاریخ ایرانی است، وی اکنون استاد گروه تاریخ دانشگاه تهران، رئیس کتابخانه تخصصی تاریخ اسلام و ایرانو رئیس کتابخانه مرکزی دانشگاه تهران می باشد.'}, {'id': 14398.0, 'name': 'ناصر یوسفی', 'description': 'ناصر یوسفی (متولد ۱۳۴۶) نویسنده کتاب\u200cهای کودکان و نوجوانان است. او دکتری آموزش\u200cوپرورش دارد و مشاور چند نهاد بین\u200cالملی از جمله یونیسف، کمیساریای عالی سازمان ملل در امور پناهندگان، یونسکو و شورای جهانی جمعیت بوده\u200cاست. یوسفی مدیریت مؤسسه پژوهشی کودکان دنیا را بر عهده دارد.'}, {'id': 19055.0, 'name': 'بیل اندروز', 'description': 'بیل اندروز یک چهره مشهور رهبری ، مشاور و نویسنده برنده جایزه آمریکایی است. وی از طریق مشاوره خودیاری ، برنامه های مختلف آموزشی و کتابهای تغییر دهنده  ... (77 characters truncated) ... ی متعدد "خودیاری" و "تحول زندگی" است. کتاب های او در لیست پرفروش های مختلفی از جمله نیویورک تایمز ، وال استریت ژورنال و یو اس ای تودی قرار گرفته اند.'}, {'id': 4242.0, 'name': 'شاهین برادران', 'description': None}, {'id': 26284.0, 'name': 'محمد خواجوی', 'description': None}, {'id': 41157.0, 'name': 'مصطفی صالحی اردکانی', 'description': 'مصطفی صالحی اردکانی متولد سال 1359، نویسنده ایرانی می باشد.'}, {'id': 6960.0, 'name': 'ژولیا کریستوا', 'description': None}, {'id': 6961.0, 'name': 'مهرداد پارسا', 'description': None}  ... displaying 10 of 1964 total bound parameter sets ...  {'id': 24667.0, 'name': 'کیارتان پاسکیت', 'description': 'کیارتان پاسکیت (متولد 15 مه 1956 در یورک) نویسنده و مجری تلویزیونی بریتانیایی است که بیشتر به خاطر نوشتن مجموعه کتاب های کودکان شهرت دارد. او در یورک ، انگلیس متولد شد ، در سلبی ، یورکشایر بزرگ شد. او در رشته مهندسی در کالج کالینگ وود ، دانشگاه دورهام تحصیل کرده است.'}, {'id': 38552.0, 'name': 'ایلیا سالک', 'description': 'ایلیا سالک مترجم ایرانی متولد سال 1372 می باشد.'}]
2023-09-29 09:56:27,491 INFO sqlalchemy.engine.Engine COMMIT

1964

# publisher

In [17]:
df_publisher = pd.read_csv('data_csv_1_25001/publisher.csv')
df_publisher.dropna(subset=["id"],inplace=True)
df_publisher.drop_duplicates(subset=["id"],inplace=True)
df_publisher.to_csv('modified/modified_publisher.csv', index=False)
df_publisher.to_sql('publisher', engine, if_exists='append', index=False)

2023-09-29 09:56:31,346 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:31,348 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-29 09:56:31,349 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:56:31,354 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 09:56:31,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:31,363 INFO sqlalchemy.engine.Engine INSERT INTO publisher (id, name) VALUES (%(id)s, %(name)s)
2023-09-29 09:56:31,365 INFO sqlalchemy.engine.Engine [generated in 0.00475s] [{'id': 9, 'name': 'علم'}, {'id': 30, 'name': 'پیدایش'}, {'id': 1195, 'name': 'ابوعطا'}, {'id': 1254, 'name': 'مولی'}, {'id': 1971, 'name': 'ادیان و مذاهب'}, {'id': 1231, 'name': 'روزبهان'}, {'id': 1529, 'name': 'آرمان رشد'}, {'id': 1201, 'name': 'بهار سبز'}  ... displaying 10 of 458 total bound parameter sets ...  {'id': 1886, 'name': 'پژواک'}, {'id': 1478, 'name': 'کلام'}]
2023-09-29 09:56:31,416 INFO sqlalchemy.engine.Engine COMMIT

458

# category

In [18]:
df_category = pd.read_csv('data_csv_1_25001/category.csv')
df_category.dropna(subset=["id"],inplace=True)
df_category.drop_duplicates(subset=["id"],inplace=True)
if df_category["description"].isnull().all():
    df_category["description"] = 'None'
df_category.to_csv('modified/modified_category.csv', index=False)
df_category.to_sql('category', engine, if_exists='append', index=False)

2023-09-29 09:56:52,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:52,474 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-29 09:56:52,476 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 09:56:52,481 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 09:56:52,485 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 09:56:52,489 INFO sqlalchemy.engine.Engine INSERT INTO category (id, name, description) VALUES (%(id)s, %(name)s, %(description)s)
2023-09-29 09:56:52,489 INFO sqlalchemy.engine.Engine [generated in 0.00353s] [{'id': 346, 'name': 'دینی و مذهبی', 'description': 'موضوعات مربوط به دین و مذهب در این دسته از آثار، نقشی اساسی دارند و در کانون توجه نویسنده قرار دارند. نقد و تفسیر دیدگاه های مختلف دینی نیز در این کتاب ها به چشم می خورند.'}, {'id': 327, 'name': 'روانشناسی', 'description': 'کتاب های روانشناسی به علم رفتار، تفکر و ذهن (بخش های خودآگاه و ناخودآگاه) می پردازند. هدف کلی این حوزه از دانش، به عنوان یک رشته ی دانشگاهی بسیار گسترده با گرایش هایی متنوع و مختلف، درک ویژگی های مغز، چگونگی کارکرد ذهن در شرایط مختلف و هر گونه واکنش ذهنی قابل بررسی است.'}, {'id': 182, 'name': 'رمان', 'description': 'رمان یا داستان بلند، متنی روایتگر و داستانی است که در قالب نثر نوشته می شود. در قرن هجدهم کلمهٔ «رمان» بیشتر برای اشاره به قصّه های کوتاه در مورد عشق و توطئه به کار می رفت. در ۲۰۰ سال اخیر، رمان تبدیل به یکی از مهم ترین اشکال ادبی شده و سهم بسیار بزرگی از دنیای کتاب را به خود اختصاص داده است.'}, {'id': 103, 'name': 'ادبیات داستانی', 'description': 'ادبیات داستانی، گونه ای پرطرفدار از ادبیات است که به مسائلی چون مشکلات اجتماعی، سیاسی و فرهنگی و وضعیت زندگی بشر می پردازد. نویسندگان ادبیات داستانی بر بررسی عمیق و باطنی کاراکترهای جذاب، چندوجهی و قابل باوری تمرکز دارند که داستان های درونی و ذهنیشان، پیشبرنده ی اتفاقات داستان اصلی است.'}, {'id': 101, 'name': 'داستان تاریخی', 'description': 'داستان تاریخی نوعی از نگارش است که مرز میان تاریخ و ادبیات به شمار می رود. در این گونه کتاب ها معمولا از هیچ منبعی یاد نشده و یا از منابع کمی یاد می  ... (243 characters truncated) ... زئیات دیگر یک دوره ی زمانی خاص در گذشته می پردازد. این گونه از ادبیات دارای زیر-ژانرهایی چون تاریخ متناوب (یا تاریخ بدیل) و داستان فانتزی تاریخی است.'}, {'id': 142, 'name': 'ادبیات اسپانیا', 'description': 'ادبیات اسپانیا، شخصیت هایی چون دون کیشوت و دون خوان را به جهان معرفی کرده است. اختراع رمان در قرن شانزدهم، به ادبیات اسپانیا منسوب می شود. تاریخ پرفراز و نشیب و کهن این کشور، باعث به وجود آمدن گنجینه ای از آثار ارزشمند ادبی شده است.'}, {'id': 335, 'name': 'تجارت و کسب و کار', 'description': 'کتاب های مربوط به حوزه ی تجارت، موضوعاتی چون چگونگی کارکرد عوامل تجاری، رویکردهای موفق کسب و کار، روش های مختلف کارآفرینی و سایر جنبه های تئوری و عملی دنیای تجارت را مورد بررسی و کنکاش قرار می دهند.'}, {'id': 176, 'name': 'دهه 1920 میلادی', 'description': 'دهه ی 1920 میلادی، دوره ی پرفراز و نشیبی بود و تغییرات بزرگ متعددی در این دهه به وقوع پیوست. مدرنیسم، تقریبا بر همه ی جنبه های هنر، ادبیات و فرهنگ عا ... (55 characters truncated) ...  توصیف جنبش های ادبی و فرهنگی این دهه می توان انتخاب کرد، «تجربی» خواندن آن هاست. فیتزجرالد و همینگوی، محبوب ترین نویسندگان این دهه به حساب می آمدند.'}  ... displaying 10 of 231 total bound parameter sets ...  {'id': 49, 'name': 'جایزه ی بادبادک طلایی', 'description': 'جایزه ی بادبادک طلایی (Golden Kite) از سال ۱۹۷۱ از سوی انجمن نویسندگان وتصویرگران کتاب کودک به صورت سالانه به بهترین کتاب داستانی، غیر داستانی، متن ک ... (494 characters truncated) ...  بادبادک طلایی تنها جایزه ی ادبیات کودکان و نوجوانان است که از سوی همتایان نویسندگان و تصویرگران داوری می شود و تنها به اعضا ی این انجمن اهدا می شود.'}, {'id': 55, 'name': 'جایزه ی ملی کتاب آمریکا', 'description': 'جایزه ی کتاب ملی (انگلیسی: National Book Award) مجموعه ای از جوایز سالانه ی ادبی در ایالات متحده ی آمریکا است. در مراسم نهایی جایزه ی کتاب ملی که هر  ... (418 characters truncated) ...  شرایط دریافت جایزه بودند ولی در حال حاضر جایزه به نویسندگان آمریکایی برای کتاب هایی اهدا می شود که در حدود سال اهدای جایزه در آمریکا منتشر شده باشد.'}]
2023-09-29 09:56:52,609 INFO sqlalchemy.engine.Engine COMMIT

231

# group_category

In [21]:
df_group_category = pd.read_csv('data_csv_1_25001/group_category.csv')
df_group_category.dropna(subset=["group_id"],inplace=True)
df_group_category.dropna(subset=["category_id"],inplace=True)
query = "select id from `group`"
existing_group_ids = pd.DataFrame(engine.connect().execute(text(query)))['id'].tolist()
valid_mask = df_group_category['group_id'].isin(existing_group_ids)
df_valid_group = df_group_category[valid_mask]
query = "select id from `category`"
existing_category_ids = pd.DataFrame(engine.connect().execute(text(query)))['id'].tolist()
valid_mask = df_valid_group['category_id'].isin(existing_category_ids)
df_valid_category = df_valid_group[valid_mask]
df_valid_category.to_csv('modified/modified_group_category.csv', index=False)
df_valid_category.to_sql('group_category', engine, if_exists='append', index=False)

2023-09-29 10:01:39,150 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 10:01:39,151 INFO sqlalchemy.engine.Engine select id from `group`
2023-09-29 10:01:39,152 INFO sqlalchemy.engine.Engine [cached since 505.1s ago] {}
2023-09-29 10:01:39,184 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 10:01:39,189 INFO sqlalchemy.engine.Engine select id from `category`
2023-09-29 10:01:39,191 INFO sqlalchemy.engine.Engine [generated in 0.00780s] {}
2023-09-29 10:01:39,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 10:01:39,315 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-29 10:01:39,317 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 10:01:39,325 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 10:01:39,328 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 10:01:39,389 INFO sqlalchemy.engine.Engine INSERT INTO group_category (group_id, category_id) VALUES (%(group_id)s, %(category_id)s)
2023-09-29 10:01:39,392 INFO sqlalchemy.engine.Engine [generated in 0.04997s] [{'group_id': 16431, 'category_id': 346}, {'group_id': 44551, 'category_id': 103}, {'group_id': 44551, 'category_id': 182}, {'group_id': 32993, 'category_id': 97}, {'group_id': 32993, 'category_id': 167}, {'group_id': 32993, 'category_id': 327}, {'group_id': 46770, 'category_id': 346}, {'group_id': 11759, 'category_id': 105}  ... displaying 10 of 10441 total bound parameter sets ...  {'group_id': 120572, 'category_id': 182}, {'group_id': 120625, 'category_id': 103}]
2023-09-29 10:01:39,976 INFO sqlalchemy.engine.Engine COMMIT

10441

# book_publisher

In [25]:
df_book_publisher = pd.read_csv('data_csv_1_25001/book_publisher.csv')
df_book_publisher.dropna(subset=["publisher_id"],inplace=True)
df_book_publisher.dropna(subset=["book_code"],inplace=True)
df_book_publisher['book_code'] = df_book_publisher['book_code'].astype(int)
query = "select code from `book`"
existing_book_ids = pd.DataFrame(engine.connect().execute(text(query)))['code'].tolist()
valid_mask = df_book_publisher['book_code'].isin(existing_book_ids)
df_valid_book = df_book_publisher[valid_mask]
query = "select id from `publisher`"
existing_publisher_ids = pd.DataFrame(engine.connect().execute(text(query)))['id'].tolist()
valid_mask = df_valid_book['publisher_id'].isin(existing_publisher_ids)
df_valid_publisher = df_valid_book[valid_mask]
df_valid_publisher.to_csv('modified/modified_book_publisher.csv', index=False)
df_valid_publisher.to_sql('book_publisher', engine, if_exists='append', index=False)

2023-09-29 13:31:27,467 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:31:27,470 INFO sqlalchemy.engine.Engine select code from `book`
2023-09-29 13:31:27,472 INFO sqlalchemy.engine.Engine [cached since 7090s ago] {}
2023-09-29 13:31:27,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:31:27,602 INFO sqlalchemy.engine.Engine select id from `publisher`
2023-09-29 13:31:27,622 INFO sqlalchemy.engine.Engine [cached since 116.3s ago] {}
2023-09-29 13:31:28,066 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:31:28,067 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-29 13:31:28,068 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-29 13:31:28,447 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-29 13:31:28,449 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:31:28,638 INFO sqlalchemy.engine.Engine INSERT INTO book_publisher (publisher_id, book_code) VALUES (%(publisher_id)s, %(book_code)s)
2023-09-29 13:31:28,639 INFO sqlalchemy.engine.Engine [generated in 0.03115s] [{'publisher_id': 9, 'book_code': 16431}, {'publisher_id': 30, 'book_code': 44551}, {'publisher_id': 1971, 'book_code': 75051}, {'publisher_id': 1231, 'book_code': 11759}, {'publisher_id': 1529, 'book_code': 61295}, {'publisher_id': 1201, 'book_code': 76224}, {'publisher_id': 1327, 'book_code': 113125}, {'publisher_id': 1318, 'book_code': 19993}  ... displaying 10 of 5870 total bound parameter sets ...  {'publisher_id': 59, 'book_code': 30840}, {'publisher_id': 1327, 'book_code': 120625}]
2023-09-29 13:31:29,690 INFO sqlalchemy.engine.Engine COMMIT

5870

# crew

In [35]:
df_crew = pd.read_csv('data_csv_1_25001/crew.csv')
df_crew.dropna(subset=["book_code"],inplace=True)
df_crew.dropna(subset=["person_counter"],inplace=True)
df_crew.dropna(subset=["role"],inplace=True)
query = "select code from `book`"
existing_book_ids = pd.DataFrame(engine.connect().execute(text(query)))['code'].tolist()
valid_mask = df_crew['book_code'].isin(existing_book_ids)
df_valid_book = df_crew[valid_mask]
query = "select id from `person`"
existing_person_ids = pd.DataFrame(engine.connect().execute(text(query)))['id'].tolist()
valid_mask = df_valid_book['person_counter'].isin(existing_person_ids)
df_valid_person = df_valid_book[valid_mask]
df_valid_person.to_csv('modified/modified_crew.csv', index=False)
df_valid_person.to_sql('crew', engine, if_exists='append', index=False)

2023-09-29 13:41:37,726 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:41:37,728 INFO sqlalchemy.engine.Engine select code from `book`
2023-09-29 13:41:37,729 INFO sqlalchemy.engine.Engine [cached since 7700s ago] {}
2023-09-29 13:41:37,747 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-29 13:41:37,748 INFO sqlalchemy.engine.Engine select id from `person`
2023-09-29 13:41:37,750 INFO sqlalchemy.engine.Engine [cached since 370.6s ago] {}
      book_code  person_counter        role
16        32925              16      writer
20        43251              21      writer
36        90337              40      writer
40        95430              44      writer
47         6936              52      writer
...         ...             ...         ...
1817     111282              67      writer
1902      55377              67      writer
1946      92813              67      writer
1964     104986              67      writer
1967      20218             116  translator

[147 rows x 3 columns]