# connect

In [14]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-09-26 23:55:52,482 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-26 23:55:52,483 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:52,488 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-26 23:55:52,490 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:52,493 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-26 23:55:52,495 INFO sqlalchemy.engine.Engine [raw sql] {}

# Book

In [ ]:
df_person = pd.read_csv('data_csv_1_25001/book.csv')
df_person = df_person.dropna(subset=["code"])
df_person = df_person.drop_duplicates(subset=["code"])
df_person = df_person.drop('code.1', axis=1)

df_person.to_csv('data_csv_1_25001_modified/modified_book.csv', index=False)
df_person.to_sql('book', engine, if_exists='append', index=False)

In [ ]:
df = pd.read_csv('data_csv_1_25001/book.csv')
df = df.dropna(subset=["code"])
df = df.drop_duplicates(subset=["code"])
df = df.drop('code.1', axis=1)

df.to_csv('data_csv_1_25001_modified/modified_book.csv', index=False)
df.to_sql('book', engine, if_exists='append', index=False)

# group

In [20]:
df = pd.read_csv('data_csv_1_25001/group.csv')
df = df.dropna(subset=["group_id"])
df = df.drop_duplicates(subset=["group_id"])
if df["description"].isnull().all():
    df["description"] = 'None'
df.to_csv('modified_group.csv', index=False)
df.to_sql('group', engine, if_exists='append', index=False)

2023-09-27 00:03:58,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:03:58,584 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-27 00:03:58,585 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 00:03:58,589 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-27 00:03:58,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:03:58,606 INFO sqlalchemy.engine.Engine INSERT INTO `group` (group_id, description) VALUES (%(group_id)s, %(description)s)
2023-09-27 00:03:58,607 INFO sqlalchemy.engine.Engine [generated in 0.00619s] [{'group_id': 40668, 'description': 'سه گاه یکی از دستگاه های موسیقی سنتی ایرانی است. این دستگاه احتمالا از یکی از شعبه های موسیقی مقامی به همین نام ریشه می گیرد و از نظر درجات با مقام ر ... (984 characters truncated) ...  اصلی است و یکی از خانواده های اصلی مقام را نیز تشکیل می دهد. در موسیقی ترکی سه گاه یک مقام ترکیبی دانسته می شود و جزو مقام های اصلی برشمرده نمی شود.'}, {'group_id': 102560, 'description': 'حضرت خضر علیه\u200cالسلام در آموزه\u200cهای اسلامی از جایگاه ویژه ای برخوردار است؛ چراکه زندگی آن حضرت، اسرارآمیز و طولانی است و برخی از مردم، مدعی م ... (76 characters truncated) ... عمر ایشان را مثالی برای غیبت طولانی امام زمان عجل الله تعالی فرجه الشریف و رازش را اهمراهی حضرت خضر علیه\u200cالسلام با آن امام عزیز دانسته\u200cاند.'}, {'group_id': 52785, 'description': 'خیام از دانشمندان و روشن فکران سده ی پنجم و ششم هجری است ویکی از بزرگ ترین و پرآوازه ترین شاعران ایرانی که شهرتی جهانی دارد، رباعیات او سهم بسزایی در ... (140 characters truncated) ...  به کمک ستاره شناسان شتافت و تقویم خورشیدی را بسیار دقیق به دست آورد. او انسانی آزاده و آزاد اندیش بود و شاد زیستن را سرلوحه زندگی خود قرار داده بود.'}, {'group_id': 99474, 'description': None}, {'group_id': 70805, 'description': 'این کتاب به مناسبت چهلمین سال تاسیس (موسسه مطالعات اسلامی دانشگاه تهران - دانشگاه مک گیل) منتشر شده است و شامل فهرست توصیفی انتشارات این موسسه به علا ... (153 characters truncated) ...  ها و موضوعات گوناگون فرهنگ اسلامی منتشر شده است. علاوه بر آن چهل عنوان کتاب از انتشارات همایش بین المللی قرطبه و اصفهان در این مجموعه معرفی شده است.'}, {'group_id': 35411, 'description': 'کتاب «سرمایه در قرن بیست و یکم» به رغم اینکه در برخی موارد اطلاعات مفید و نکته سنجی \xadهای جالبی ارائه می \xadدهد، اساسا، به طور خواسته یا ناخواسته، ... (296 characters truncated) ... ست که بنای آن نقد انباشت سرمایه و نابرابری است، اما خود مولف اساسا «نظریه سرمایه» ندارد و در جای جای کتاب اقتصاد خرد و اقتصاد کلان را در هم می آمیزد.'}, {'group_id': 2298, 'description': 'این نمایشنامه ژاپنی که در آن شخصیت های «مرد» (انسان علفخوار)، «همسر مرد»، «پسر مرد»، «نامزد پسر»، «دکتر»، «دانشجو»، «پرستار»، «پیرزن»، «فیلم بردار»،  ... (122 characters truncated) ... آنجا آغاز می شود که مرد لباس راحتی به تن دارد و به موضوع مرگ یک پیرزن می اندیشد، پیرزنی تنها و فقیر که تنها یک مزرعه کوچک از او باقی مانده بود و... .'}, {'group_id': 114401, 'description': 'زنجیره\u200cی تغییرات با نخبگان شروع می\u200cشود نه با طبقه یا افراد. تضاد نخبگان است که تحولات را ممکن می\u200cسازد.در اغلب مطالعات تاریخ معاصر ایرا ... (546 characters truncated) ... ه با ترکیه و ژاپن، اهمیت تضاد ایدئولوژیک در بین نخبگان ایران معاصر را روشن کند و تا حدودی مسیرهای مختلفی که این کشورها طی کرده\u200cاند را توضیح دهد.'}  ... displaying 10 of 1206 total bound parameter sets ...  {'group_id': 21980, 'description': 'این مجموعه شامل 53 شعر کوتاه و بدون نام از اسدی است که اکثر آنها از چند سطر تجاوز نمی کنند.'}, {'group_id': 71187, 'description': 'کتابی متفاوت و تاثیر\u200cگذار در آموزش زبان انگلیسی. این مجموعه فوق\u200cالعاده با اصولی جذاب و ثابت شده می\u200cتواند زبان انگلیسی را برای شما بسیا ... (1041 characters truncated) ... 00cشود. درس\u200cهای New World Culture زبان آموز را به کشف و بررسی موضوعات کنونی ترغیب ساخته و مهارت\u200cهای پژوهشی اینترنتی او را قوت می\u200cبخشد.'}]
2023-09-27 00:03:58,674 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'group_id' in 'field list'
[SQL: INSERT INTO `group` (group_id, description) VALUES (%(group_id)s, %(description)s)]
[parameters: [{'group_id': 40668, 'description': 'سه گاه یکی از دستگاه های موسیقی سنتی ایرانی است. این دستگاه احتمالا از یکی از شعبه های موسیقی مقامی به همین نام ریشه می گیرد و از نظر درجات با مقام ر ... (984 characters truncated) ...  اصلی است و یکی از خانواده های اصلی مقام را نیز تشکیل می دهد. در موسیقی ترکی سه گاه یک مقام ترکیبی دانسته می شود و جزو مقام های اصلی برشمرده نمی شود.'}, {'group_id': 102560, 'description': 'حضرت خضر علیه\u200cالسلام در آموزه\u200cهای اسلامی از جایگاه ویژه ای برخوردار است؛ چراکه زندگی آن حضرت، اسرارآمیز و طولانی است و برخی از مردم، مدعی م ... (76 characters truncated) ... عمر ایشان را مثالی برای غیبت طولانی امام زمان عجل الله تعالی فرجه الشریف و رازش را اهمراهی حضرت خضر علیه\u200cالسلام با آن امام عزیز دانسته\u200cاند.'}, {'group_id': 52785, 'description': 'خیام از دانشمندان و روشن فکران سده ی پنجم و ششم هجری است ویکی از بزرگ ترین و پرآوازه ترین شاعران ایرانی که شهرتی جهانی دارد، رباعیات او سهم بسزایی در ... (140 characters truncated) ...  به کمک ستاره شناسان شتافت و تقویم خورشیدی را بسیار دقیق به دست آورد. او انسانی آزاده و آزاد اندیش بود و شاد زیستن را سرلوحه زندگی خود قرار داده بود.'}, {'group_id': 99474, 'description': None}, {'group_id': 70805, 'description': 'این کتاب به مناسبت چهلمین سال تاسیس (موسسه مطالعات اسلامی دانشگاه تهران - دانشگاه مک گیل) منتشر شده است و شامل فهرست توصیفی انتشارات این موسسه به علا ... (153 characters truncated) ...  ها و موضوعات گوناگون فرهنگ اسلامی منتشر شده است. علاوه بر آن چهل عنوان کتاب از انتشارات همایش بین المللی قرطبه و اصفهان در این مجموعه معرفی شده است.'}, {'group_id': 35411, 'description': 'کتاب «سرمایه در قرن بیست و یکم» به رغم اینکه در برخی موارد اطلاعات مفید و نکته سنجی \xadهای جالبی ارائه می \xadدهد، اساسا، به طور خواسته یا ناخواسته، ... (296 characters truncated) ... ست که بنای آن نقد انباشت سرمایه و نابرابری است، اما خود مولف اساسا «نظریه سرمایه» ندارد و در جای جای کتاب اقتصاد خرد و اقتصاد کلان را در هم می آمیزد.'}, {'group_id': 2298, 'description': 'این نمایشنامه ژاپنی که در آن شخصیت های «مرد» (انسان علفخوار)، «همسر مرد»، «پسر مرد»، «نامزد پسر»، «دکتر»، «دانشجو»، «پرستار»، «پیرزن»، «فیلم بردار»،  ... (122 characters truncated) ... آنجا آغاز می شود که مرد لباس راحتی به تن دارد و به موضوع مرگ یک پیرزن می اندیشد، پیرزنی تنها و فقیر که تنها یک مزرعه کوچک از او باقی مانده بود و... .'}, {'group_id': 114401, 'description': 'زنجیره\u200cی تغییرات با نخبگان شروع می\u200cشود نه با طبقه یا افراد. تضاد نخبگان است که تحولات را ممکن می\u200cسازد.در اغلب مطالعات تاریخ معاصر ایرا ... (546 characters truncated) ... ه با ترکیه و ژاپن، اهمیت تضاد ایدئولوژیک در بین نخبگان ایران معاصر را روشن کند و تا حدودی مسیرهای مختلفی که این کشورها طی کرده\u200cاند را توضیح دهد.'}  ... displaying 10 of 1206 total bound parameter sets ...  {'group_id': 21980, 'description': 'این مجموعه شامل 53 شعر کوتاه و بدون نام از اسدی است که اکثر آنها از چند سطر تجاوز نمی کنند.'}, {'group_id': 71187, 'description': 'کتابی متفاوت و تاثیر\u200cگذار در آموزش زبان انگلیسی. این مجموعه فوق\u200cالعاده با اصولی جذاب و ثابت شده می\u200cتواند زبان انگلیسی را برای شما بسیا ... (1041 characters truncated) ... 00cشود. درس\u200cهای New World Culture زبان آموز را به کشف و بررسی موضوعات کنونی ترغیب ساخته و مهارت\u200cهای پژوهشی اینترنتی او را قوت می\u200cبخشد.'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)