# connect

In [6]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-09-27 00:31:44,221 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-27 00:31:44,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 00:31:44,234 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-27 00:31:44,235 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 00:31:44,237 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-27 00:31:44,238 INFO sqlalchemy.engine.Engine [raw sql] {}

# Book

In [8]:
df_book = pd.read_csv('data_csv_1_25001/book.csv')
df_book.dropna(subset=["code"],inplace=True)
df_book.drop_duplicates(subset=["code"],inplace=True)
df_book.drop('code.1', axis=1,inplace=True)
df_book.to_csv('modified_book.csv', index=False)
df_book.to_sql('book', engine, if_exists='append', index=False)

2023-09-27 00:32:10,816 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:32:10,817 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-27 00:32:10,818 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 00:32:10,826 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-27 00:32:10,831 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:32:10,840 INFO sqlalchemy.engine.Engine INSERT INTO book (code, title_persian, title_english, price, discount, grade, shabak, page_count, release_year_sh, release_year_mi, exist, earliest_access, print_series, ghate, cover) VALUES (%(code)s, %(title_persian)s, %(title_english)s, %(price)s, %(discount)s, %(grade)s, %(shabak)s, %(page_count)s, %(release_year_sh)s, %(release_year_mi)s, %(exist)s, %(earliest_access)s, %(print_series)s, %(ghate)s, %(cover)s)
2023-09-27 00:32:10,845 INFO sqlalchemy.engine.Engine [generated in 0.00749s] [{'code': 16416.0, 'title_persian': 'بازاریابی به روایت کاتلر', 'title_english': ' According to Kotler', 'price': 18000, 'discount': 10.0, 'grade': 3.02, 'shabak': '978-6006465814', 'page_count': 256.0, 'release_year_sh': 1397.0, 'release_year_mi': 2004.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 2.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 114401.0, 'title_persian': 'جامعه شناسی تاریخی نخبگان ایران، ترکیه و ژاپن عصر مدرن', 'title_english': ' Historical sociology of elites of modern Iran ,turkey,and Japan', 'price': 210000, 'discount': 25.0, 'grade': 3.24, 'shabak': '978-9644891274', 'page_count': 463.0, 'release_year_sh': 1400.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 2981.0, 'title_persian': 'جاذبه میان ما', 'title_english': ' The gravity of us', 'price': 139300, 'discount': 30.0, 'grade': 4.43, 'shabak': '978-6003840584', 'page_count': 376.0, 'release_year_sh': 1402.0, 'release_year_mi': 2016.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 6.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 113703.0, 'title_persian': '\tمبانی نظری هنرهای تجسمی', 'title_english': ' The theoric bases of plastic arts', 'price': 84700, 'discount': 30.0, 'grade': 3.93, 'shabak': '978-9644592577', 'page_count': 336.0, 'release_year_sh': 1401.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 16.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 34251.0, 'title_persian': 'اصول زندگی سلولی', 'title_english': ' The Basics Of Cell Life With Max Axiom, Super Scientist', 'price': 24500, 'discount': 30.0, 'grade': 3.47, 'shabak': '978-6009613564', 'page_count': 32.0, 'release_year_sh': 1395.0, 'release_year_mi': 2009.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 2.0, 'ghate': 'وزیری', 'cover': 'شومیز'}, {'code': 67336.0, 'title_persian': 'عشایر فارس', 'title_english': ' La Fars', 'price': 33300, 'discount': 10.0, 'grade': 3.04, 'shabak': '978-9640362280', 'page_count': 105.0, 'release_year_sh': 1390.0, 'release_year_mi': None, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 2.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 59683.0, 'title_persian': 'همه چیز درباره ی آب بینی', 'title_english': ' The Snotty Book of Snot', 'price': 21000, 'discount': 30.0, 'grade': 3.63, 'shabak': '978-6004360128', 'page_count': 32.0, 'release_year_sh': 1397.0, 'release_year_mi': 2009.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 1.0, 'ghate': 'رقعی', 'cover': 'شومیز'}, {'code': 23465.0, 'title_persian': 'شمس پرنده', 'title_english': ' Shams-e Parandeh', 'price': 153000, 'discount': 15.0, 'grade': 3.95, 'shabak': '978-9646994935', 'page_count': 160.0, 'release_year_sh': 1400.0, 'release_year_mi': 2007.0, 'exist': 1, 'earliest_access': '1402-07-06', 'print_series': 11.0, 'ghate': 'وزیری', 'cover': 'شومیز'}  ... displaying 10 of 281 total bound parameter sets ...  {'code': 37810.0, 'title_persian': 'کمدی الهی', 'title_english': ' Divine Comedy', 'price': 250000, 'discount': None, 'grade': 3.7, 'shabak': '978-9641651994', 'page_count': 603.0, 'release_year_sh': 1401.0, 'release_year_mi': 1304.0, 'exist': None, 'earliest_access': None, 'print_series': 5.0, 'ghate': 'وزیری', 'cover': 'جلدسخت'}, {'code': 10788.0, 'title_persian': 'کمدی الهی (3جلدی)', 'title_english': ' Divine Comedy', 'price': 280000, 'discount': None, 'grade': 3.67, 'shabak': '978-2000111320', 'page_count': 2494.0, 'release_year_sh': 1393.0, 'release_year_mi': 1304.0, 'exist': None, 'earliest_access': None, 'print_series': 1.0, 'ghate': 'وزیری', 'cover': 'زرکوب'}]
2023-09-27 00:32:10,902 INFO sqlalchemy.engine.Engine COMMIT

281

# group

In [9]:
df_group = pd.read_csv('data_csv_1_25001/group.csv')
df_group.dropna(subset=["group_id"],inplace=True)
df_group.drop_duplicates(subset=["group_id"],inplace=True)
df_group.rename(columns={'group_id': 'id'}, inplace=True)
if df_group["description"].isnull().all():
    df_group["description"] = 'None'
df_group.to_csv('modified_group.csv', index=False)
df_group.to_sql('group', engine, if_exists='append', index=False)

2023-09-27 00:32:15,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:32:15,537 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-27 00:32:15,538 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-27 00:32:15,545 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-27 00:32:15,552 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-27 00:32:15,584 INFO sqlalchemy.engine.Engine INSERT INTO `group` (id, description) VALUES (%(id)s, %(description)s)
2023-09-27 00:32:15,588 INFO sqlalchemy.engine.Engine [generated in 0.02738s] [{'id': 40668, 'description': 'سه گاه یکی از دستگاه های موسیقی سنتی ایرانی است. این دستگاه احتمالا از یکی از شعبه های موسیقی مقامی به همین نام ریشه می گیرد و از نظر درجات با مقام ر ... (984 characters truncated) ...  اصلی است و یکی از خانواده های اصلی مقام را نیز تشکیل می دهد. در موسیقی ترکی سه گاه یک مقام ترکیبی دانسته می شود و جزو مقام های اصلی برشمرده نمی شود.'}, {'id': 102560, 'description': 'حضرت خضر علیه\u200cالسلام در آموزه\u200cهای اسلامی از جایگاه ویژه ای برخوردار است؛ چراکه زندگی آن حضرت، اسرارآمیز و طولانی است و برخی از مردم، مدعی م ... (76 characters truncated) ... عمر ایشان را مثالی برای غیبت طولانی امام زمان عجل الله تعالی فرجه الشریف و رازش را اهمراهی حضرت خضر علیه\u200cالسلام با آن امام عزیز دانسته\u200cاند.'}, {'id': 52785, 'description': 'خیام از دانشمندان و روشن فکران سده ی پنجم و ششم هجری است ویکی از بزرگ ترین و پرآوازه ترین شاعران ایرانی که شهرتی جهانی دارد، رباعیات او سهم بسزایی در ... (140 characters truncated) ...  به کمک ستاره شناسان شتافت و تقویم خورشیدی را بسیار دقیق به دست آورد. او انسانی آزاده و آزاد اندیش بود و شاد زیستن را سرلوحه زندگی خود قرار داده بود.'}, {'id': 99474, 'description': None}, {'id': 70805, 'description': 'این کتاب به مناسبت چهلمین سال تاسیس (موسسه مطالعات اسلامی دانشگاه تهران - دانشگاه مک گیل) منتشر شده است و شامل فهرست توصیفی انتشارات این موسسه به علا ... (153 characters truncated) ...  ها و موضوعات گوناگون فرهنگ اسلامی منتشر شده است. علاوه بر آن چهل عنوان کتاب از انتشارات همایش بین المللی قرطبه و اصفهان در این مجموعه معرفی شده است.'}, {'id': 35411, 'description': 'کتاب «سرمایه در قرن بیست و یکم» به رغم اینکه در برخی موارد اطلاعات مفید و نکته سنجی \xadهای جالبی ارائه می \xadدهد، اساسا، به طور خواسته یا ناخواسته، ... (296 characters truncated) ... ست که بنای آن نقد انباشت سرمایه و نابرابری است، اما خود مولف اساسا «نظریه سرمایه» ندارد و در جای جای کتاب اقتصاد خرد و اقتصاد کلان را در هم می آمیزد.'}, {'id': 2298, 'description': 'این نمایشنامه ژاپنی که در آن شخصیت های «مرد» (انسان علفخوار)، «همسر مرد»، «پسر مرد»، «نامزد پسر»، «دکتر»، «دانشجو»، «پرستار»، «پیرزن»، «فیلم بردار»،  ... (122 characters truncated) ... آنجا آغاز می شود که مرد لباس راحتی به تن دارد و به موضوع مرگ یک پیرزن می اندیشد، پیرزنی تنها و فقیر که تنها یک مزرعه کوچک از او باقی مانده بود و... .'}, {'id': 114401, 'description': 'زنجیره\u200cی تغییرات با نخبگان شروع می\u200cشود نه با طبقه یا افراد. تضاد نخبگان است که تحولات را ممکن می\u200cسازد.در اغلب مطالعات تاریخ معاصر ایرا ... (546 characters truncated) ... ه با ترکیه و ژاپن، اهمیت تضاد ایدئولوژیک در بین نخبگان ایران معاصر را روشن کند و تا حدودی مسیرهای مختلفی که این کشورها طی کرده\u200cاند را توضیح دهد.'}  ... displaying 10 of 1206 total bound parameter sets ...  {'id': 21980, 'description': 'این مجموعه شامل 53 شعر کوتاه و بدون نام از اسدی است که اکثر آنها از چند سطر تجاوز نمی کنند.'}, {'id': 71187, 'description': 'کتابی متفاوت و تاثیر\u200cگذار در آموزش زبان انگلیسی. این مجموعه فوق\u200cالعاده با اصولی جذاب و ثابت شده می\u200cتواند زبان انگلیسی را برای شما بسیا ... (1041 characters truncated) ... 00cشود. درس\u200cهای New World Culture زبان آموز را به کشف و بررسی موضوعات کنونی ترغیب ساخته و مهارت\u200cهای پژوهشی اینترنتی او را قوت می\u200cبخشد.'}]
2023-09-27 00:32:15,957 INFO sqlalchemy.engine.Engine COMMIT

1206

# group book

In [12]:
df_group_book = pd.read_csv('data_csv_1_25001/group_book.csv')
df_group_book.to_csv('modified_group_book.csv', index=False)
df_group_book.to_sql('group_book', engine, if_exists='append', index=False)

2023-09-28 07:35:09,527 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:35:09,528 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 07:35:09,528 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:35:09,579 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:35:09,587 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:35:09,611 INFO sqlalchemy.engine.Engine INSERT INTO group_book (group_id, book_code) VALUES (%(group_id)s, %(book_code)s)
2023-09-28 07:35:09,614 INFO sqlalchemy.engine.Engine [generated in 0.01885s] [{'group_id': 16416, 'book_code': 16416.0}, {'group_id': 114401, 'book_code': 114401.0}, {'group_id': 2981, 'book_code': 2981.0}, {'group_id': 113703, 'book_code': 113703.0}, {'group_id': 34251, 'book_code': 34251.0}, {'group_id': 67336, 'book_code': 67336.0}, {'group_id': 59683, 'book_code': 59683.0}, {'group_id': 23465, 'book_code': 23465.0}  ... displaying 10 of 2193 total bound parameter sets ...  {'group_id': 812, 'book_code': 37810.0}, {'group_id': 812, 'book_code': 10788.0}]
2023-09-28 07:35:09,653 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`book_store`.`group_book`, CONSTRAINT `group_book_ibfk_1` FOREIGN KEY (`group_id`) REFERENCES `group` (`id`))
[SQL: INSERT INTO group_book (group_id, book_code) VALUES (%(group_id)s, %(book_code)s)]
[parameters: [{'group_id': 16416, 'book_code': 16416.0}, {'group_id': 114401, 'book_code': 114401.0}, {'group_id': 2981, 'book_code': 2981.0}, {'group_id': 113703, 'book_code': 113703.0}, {'group_id': 34251, 'book_code': 34251.0}, {'group_id': 67336, 'book_code': 67336.0}, {'group_id': 59683, 'book_code': 59683.0}, {'group_id': 23465, 'book_code': 23465.0}  ... displaying 10 of 2193 total bound parameter sets ...  {'group_id': 812, 'book_code': 37810.0}, {'group_id': 812, 'book_code': 10788.0}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# person

In [13]:
df_person = pd.read_csv('data_csv_1_25001/person.csv')
df_person.dropna(subset=["id"],inplace=True)
df_person.drop_duplicates(subset=["id"],inplace=True)
if df_person["description"].isnull().all():
    df_person["description"] = 'None'
df_person.drop('counter',axis=1,inplace=True)
df_person.to_csv('modified_person.csv', index=False)
df_person.to_sql('person', engine, if_exists='append', index=False)

2023-09-28 07:44:58,029 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:44:58,030 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 07:44:58,033 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:44:58,106 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:44:58,112 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:44:58,119 INFO sqlalchemy.engine.Engine INSERT INTO person (id, name, description) VALUES (%(id)s, %(name)s, %(description)s)
2023-09-28 07:44:58,120 INFO sqlalchemy.engine.Engine [generated in 0.00337s] [{'id': 9548.0, 'name': 'فیلیپ کاتلر', 'description': 'فیلیپ کاتلر (به انگلیسی: Philip Kotler) (زاده ۲۷ می ۱۹۳۱ در شیکاگو، ایلینوی) از اساتید مطرح دانش بازاریابی جهان و پدر بازاریابی مدرن است. وی ۳۴ جلد ک ... (1257 characters truncated) ... بی با عنوان بازاریابی بخش عمومی تألیف شده\u200cاست. کتاب فوق توسط دکتر مهدی خادمی استاد سرشناس بازاریابی و حامد محبی به فارسی برگردانده شده\u200cاست.'}, {'id': 9554.0, 'name': 'نرگس شفیعی', 'description': None}, {'id': 67277.0, 'name': 'محمد یزدانی نسب', 'description': 'محمد یزدانی نسب عضو هیات علمی گروه علوم اجتماعی دانشگاه شهید بهشتی متولد\xa0۱۳۶۲ می باشد.'}, {'id': 3818.0, 'name': 'بریتنی سی چری', 'description': 'بریتنی چری از اولین روز زندگی خود عاشق کلمات شد. او مدرک لیسانس خود را در رشت هنر تئاتر و گرایش نویسندگی خلاق از دانشگاه کارول دریافت کرد. او عاشق نو ... (131 characters truncated) ... ریتنی به همراه خانواده خود در میلواکی، ویسکانسین زندگی می کند. هنگامی که او در حال داستان پردازی نیست، احتمالاً در حال بازی با حیوانات خانگی خود است.'}, {'id': 2935.0, 'name': 'منا اختیاری', 'description': None}, {'id': 21780.0, 'name': 'حبیب الله آیت اللهی', 'description': 'حبيب\u200cالله آيت\u200cاللهي در 16 اسفند 1313 در شيراز به دنيا آمد.پدرش، آيت\u200cالله حاج شيخ محمدجواد آيت\u200cاللهي، فرزند آيت\u200cالله حاج ميرز ... (1621 characters truncated) ... سته تجسمي كشور، تأسيس دانشكده هنر دانشگاه شاهد و نيز همراهي در هيئت موسسان موزه هنرهاي سنتي سازمان صنايع دستي را در كارنامه فعاليت\u200cهاي خود دارد.'}, {'id': 19776.0, 'name': 'امبر کایزر', 'description': 'امبر کایزر (Amber J. Keyser) یک بالرین سابق و یک زیست شناس تکاملی است که کتاب های داستانی و غیر داستانی را برای کودکان و نوجوانان می نویسد. رمان های بزرگسالان جوان او شامل Pointe ، Claw و Way Back From Broken است.'}, {'id': 14606.0, 'name': 'حسن سالاری', 'description': 'حسن سالاری متولد سال 1355، مترجم، نویسنده، ویراستار، پژوهشگر آموزش و پرورش، مدیر پایگاه اینترنتی جزیره\u200cی دانش و سرپرست بخش آموزش شرکت یکتاوب افز ... (329 characters truncated) ...  و اسلام را برترین کار پژوهشی و نگارشی خود می داند. سالاری تا کنون بیش از 300 مقاله به صورت ترجمه یا تالیف در مجلات و روزنامه\u200cها منتشر کرده است.'}  ... displaying 10 of 308 total bound parameter sets ...  {'id': 17672.0, 'name': 'مینا محمودی', 'description': None}, {'id': 15638.0, 'name': 'مایکل دیردا', 'description': None}]
2023-09-28 07:44:58,315 INFO sqlalchemy.engine.Engine COMMIT

308

# publisher

In [14]:
df_publisher = pd.read_csv('data_csv_1_25001/publisher.csv')
df_publisher.dropna(subset=["id"],inplace=True)
df_publisher.drop_duplicates(subset=["id"],inplace=True)
df_publisher.to_csv('modified_publisher.csv', index=False)
df_publisher.to_sql('publisher', engine, if_exists='append', index=False)

2023-09-28 07:47:59,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:47:59,361 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 07:47:59,364 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:47:59,368 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:47:59,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:47:59,373 INFO sqlalchemy.engine.Engine INSERT INTO publisher (id, name) VALUES (%(id)s, %(name)s)
2023-09-28 07:47:59,373 INFO sqlalchemy.engine.Engine [generated in 0.00174s] [{'id': 1246, 'name': 'آموخته'}, {'id': 1472, 'name': 'طرح نو'}, {'id': 19, 'name': 'آموت'}, {'id': 2018, 'name': 'سمت'}, {'id': 2193, 'name': 'آوای روزان'}, {'id': 1967, 'name': 'دانشگاه تهران'}, {'id': 81, 'name': 'علمی و فرهنگی'}, {'id': 1786, 'name': 'نشر نظر'}  ... displaying 10 of 134 total bound parameter sets ...  {'id': 1126, 'name': 'نشر آواز'}, {'id': 1547, 'name': 'میچکا (مبتکران)'}]
2023-09-28 07:47:59,411 INFO sqlalchemy.engine.Engine COMMIT

134

# category

In [15]:
df_category = pd.read_csv('data_csv_1_25001/category.csv')
df_category.dropna(subset=["id"],inplace=True)
df_category.drop_duplicates(subset=["id"],inplace=True)
if df_category["description"].isnull().all():
    df_category["description"] = 'None'
df_category.to_csv('modified_category.csv', index=False)
df_category.to_sql('category', engine, if_exists='append', index=False)

2023-09-28 07:50:05,713 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:50:05,715 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-28 07:50:05,717 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:50:05,722 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:50:05,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:50:05,734 INFO sqlalchemy.engine.Engine INSERT INTO category (id, name, description) VALUES (%(id)s, %(name)s, %(description)s)
2023-09-28 07:50:05,735 INFO sqlalchemy.engine.Engine [generated in 0.00301s] [{'id': 346, 'name': 'دینی و مذهبی', 'description': 'موضوعات مربوط به دین و مذهب در این دسته از آثار، نقشی اساسی دارند و در کانون توجه نویسنده قرار دارند. نقد و تفسیر دیدگاه های مختلف دینی نیز در این کتاب ها به چشم می خورند.'}, {'id': 376, 'name': 'دیوان اشعار ایرانی', 'description': 'در این بخش می توانید دیوان اشعار ارزشمند بزرگترین شاعران و ادیبان پارسی، بزرگانی همچون مولوی، سعدی، خیام، حافظ و فردوسی، را بیابید و غرق سخنان نغز و دلکش آن ها شوید.'}, {'id': 341, 'name': 'اقتصادی', 'description': 'آثار مربوط به حوزه ی اقتصاد به علم اجتماعی تولید، توزیع و مصرف پول، کالا و خدمات در جامعه می پردازند. این گونه کتاب ها علاوه بر این، رفتارها و تعاملات عوامل اقتصادی و چگونگی کارکرد این عوامل را تشریح می کنند.'}, {'id': 293, 'name': 'مجموعه مقالات', 'description': 'مجموعه مقالات، اثری حاوی چندین مقاله از نویسنده ای است که نظرات و عقاید خود را در مورد یک موضوع و یا موضوعاتی مختلف در قالب نثری استدلالی بیان می دار ... (36 characters truncated) ... ی طبقه بندی می کنند. مقالات رسمی بیشتر درمورد موضوعات جدی و جهان شمول هستند در حالی که مقالات غیررسمی، بیشتر به مسائل، نظرات و تجارب شخصی می پردازند.'}, {'id': 301, 'name': 'علمی', 'description': 'کتاب علمی، اثری غیرداستانی است که معمولا توسط یک دانشمند، محقق و یا استاد دانشگاه نوشته می شود. این گونه از کتاب ها اغلب برای طیف وسیعی از مخاطبین نو ... (48 characters truncated) ... ا، دانشی کلی و عمومی درباره ی موضوع مورد بحث دارد. موضوع اصلی این دسته از آثار، مسائل علمی، حواشی و تاریخ علم و موضوعات دیگر مربوط به علوم مختلف است.'}, {'id': 295, 'name': 'نقد ادبی', 'description': 'نقد ادبی و یا پژوهش های ادبی، مطالعه، ارزیابی و تفسیر گونه های مختلف ادبیات است. نقد ادبی مدرن اغلب تحت تأثیر «نظریه ی ادبی» قرار دارد که گفتمانی فلسفی درباره ی اهداف و شیوه های استفاده شده در ادبیات است.'}, {'id': 26, 'name': 'ادبیات ژاپن', 'description': 'ادبیات کهن ژاپن، از تعاملات فرهنگی با چین تأثیرات بسیاری پذیرفت و ادبیات هند نیز با انتقال بودیسم به ژاپن، بر آثار هنری این کشور تأثیر گذاشت. نویسندگ ... (103 characters truncated) ... ی متمایز و دارای هویت مخصوص به خود کردند. با فراهم شدن دوباره ی امکان تجارت با غرب در قرن نوزدهم، ادبیات ژاپن، گستردگی و گوناگونی بیشتری به دست آورد.'}, {'id': 300, 'name': 'تاریخی', 'description': 'کتاب های تاریخی، گونه ای محبوب از آثار مکتوب هستند و با روایتی نظام مند و به هم پیوسته، به تشریح و توصیف رویدادهای گذشته ی یک ملت، کشور، دوره ی زمانی، شخص و ... می پردازند و معمولا به ترتیب وقوع رویدادها، آن ها را روایت می کنند.'}  ... displaying 10 of 171 total bound parameter sets ...  {'id': 916, 'name': 'فهرست برترین کتاب های شعر', 'description': 'شعر، قالبی هنری است که قدمت بیشتری از متون مکتوب دارد. این قالب، معنا، آوا و ریتم را در هم می آمیزد تا جهان هایی جادویی را خلق کند که بینش هایی دربار ... (233 characters truncated) ... ب لیست های ارائه شده در HookedToBooks، BookRiot، Reedsy و FlavorWire به وجود آمده، برخی از بهترین مجموعه اشعار در ادبیات جهان را در خود جای داده است.'}, {'id': 946, 'name': 'فهرست کتاب ها با برترین «شخصیت های شرور»', 'description': 'شاید به حضور «شخصیت های شرور» در زندگی خودمان علاقه ای نداشته باشیم اما آن ها به واسطه ی قدرت منحصر به فرد خود، پس زدن قواعد مرسوم و از همه مهم تر کم ... (203 characters truncated) ... ش رو که از ترکیب لیست های lithub و shortlist به وجود آمده، آثاری را در خود جای داده که برترین «شخصیت های شرور» در ادبیات را به مخاطبین معرفی می کنند.'}]
2023-09-28 07:50:05,803 INFO sqlalchemy.engine.Engine ROLLBACK

DataError: (mysql.connector.errors.DataError) 1406 (22001): Data too long for column 'name' at row 124
[SQL: INSERT INTO category (id, name, description) VALUES (%(id)s, %(name)s, %(description)s)]
[parameters: [{'id': 346, 'name': 'دینی و مذهبی', 'description': 'موضوعات مربوط به دین و مذهب در این دسته از آثار، نقشی اساسی دارند و در کانون توجه نویسنده قرار دارند. نقد و تفسیر دیدگاه های مختلف دینی نیز در این کتاب ها به چشم می خورند.'}, {'id': 376, 'name': 'دیوان اشعار ایرانی', 'description': 'در این بخش می توانید دیوان اشعار ارزشمند بزرگترین شاعران و ادیبان پارسی، بزرگانی همچون مولوی، سعدی، خیام، حافظ و فردوسی، را بیابید و غرق سخنان نغز و دلکش آن ها شوید.'}, {'id': 341, 'name': 'اقتصادی', 'description': 'آثار مربوط به حوزه ی اقتصاد به علم اجتماعی تولید، توزیع و مصرف پول، کالا و خدمات در جامعه می پردازند. این گونه کتاب ها علاوه بر این، رفتارها و تعاملات عوامل اقتصادی و چگونگی کارکرد این عوامل را تشریح می کنند.'}, {'id': 293, 'name': 'مجموعه مقالات', 'description': 'مجموعه مقالات، اثری حاوی چندین مقاله از نویسنده ای است که نظرات و عقاید خود را در مورد یک موضوع و یا موضوعاتی مختلف در قالب نثری استدلالی بیان می دار ... (36 characters truncated) ... ی طبقه بندی می کنند. مقالات رسمی بیشتر درمورد موضوعات جدی و جهان شمول هستند در حالی که مقالات غیررسمی، بیشتر به مسائل، نظرات و تجارب شخصی می پردازند.'}, {'id': 301, 'name': 'علمی', 'description': 'کتاب علمی، اثری غیرداستانی است که معمولا توسط یک دانشمند، محقق و یا استاد دانشگاه نوشته می شود. این گونه از کتاب ها اغلب برای طیف وسیعی از مخاطبین نو ... (48 characters truncated) ... ا، دانشی کلی و عمومی درباره ی موضوع مورد بحث دارد. موضوع اصلی این دسته از آثار، مسائل علمی، حواشی و تاریخ علم و موضوعات دیگر مربوط به علوم مختلف است.'}, {'id': 295, 'name': 'نقد ادبی', 'description': 'نقد ادبی و یا پژوهش های ادبی، مطالعه، ارزیابی و تفسیر گونه های مختلف ادبیات است. نقد ادبی مدرن اغلب تحت تأثیر «نظریه ی ادبی» قرار دارد که گفتمانی فلسفی درباره ی اهداف و شیوه های استفاده شده در ادبیات است.'}, {'id': 26, 'name': 'ادبیات ژاپن', 'description': 'ادبیات کهن ژاپن، از تعاملات فرهنگی با چین تأثیرات بسیاری پذیرفت و ادبیات هند نیز با انتقال بودیسم به ژاپن، بر آثار هنری این کشور تأثیر گذاشت. نویسندگ ... (103 characters truncated) ... ی متمایز و دارای هویت مخصوص به خود کردند. با فراهم شدن دوباره ی امکان تجارت با غرب در قرن نوزدهم، ادبیات ژاپن، گستردگی و گوناگونی بیشتری به دست آورد.'}, {'id': 300, 'name': 'تاریخی', 'description': 'کتاب های تاریخی، گونه ای محبوب از آثار مکتوب هستند و با روایتی نظام مند و به هم پیوسته، به تشریح و توصیف رویدادهای گذشته ی یک ملت، کشور، دوره ی زمانی، شخص و ... می پردازند و معمولا به ترتیب وقوع رویدادها، آن ها را روایت می کنند.'}  ... displaying 10 of 171 total bound parameter sets ...  {'id': 916, 'name': 'فهرست برترین کتاب های شعر', 'description': 'شعر، قالبی هنری است که قدمت بیشتری از متون مکتوب دارد. این قالب، معنا، آوا و ریتم را در هم می آمیزد تا جهان هایی جادویی را خلق کند که بینش هایی دربار ... (233 characters truncated) ... ب لیست های ارائه شده در HookedToBooks، BookRiot، Reedsy و FlavorWire به وجود آمده، برخی از بهترین مجموعه اشعار در ادبیات جهان را در خود جای داده است.'}, {'id': 946, 'name': 'فهرست کتاب ها با برترین «شخصیت های شرور»', 'description': 'شاید به حضور «شخصیت های شرور» در زندگی خودمان علاقه ای نداشته باشیم اما آن ها به واسطه ی قدرت منحصر به فرد خود، پس زدن قواعد مرسوم و از همه مهم تر کم ... (203 characters truncated) ... ش رو که از ترکیب لیست های lithub و shortlist به وجود آمده، آثاری را در خود جای داده که برترین «شخصیت های شرور» در ادبیات را به مخاطبین معرفی می کنند.'}]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

# group_category

In [16]:
df_group_category = pd.read_csv('data_csv_1_25001/group_category.csv')
df_group_category.to_csv('modified_group_category.csv', index=False)
df_group_category.to_sql('group_category', engine, if_exists='append', index=False)

2023-09-28 07:56:12,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:56:12,732 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-28 07:56:12,734 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:56:12,737 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:56:12,746 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:56:12,765 INFO sqlalchemy.engine.Engine INSERT INTO group_category (group_id, category_id) VALUES (%(group_id)s, %(category_id)s)
2023-09-28 07:56:12,766 INFO sqlalchemy.engine.Engine [generated in 0.01424s] [{'group_id': 16416, 'category_id': 97}, {'group_id': 16416, 'category_id': 168}, {'group_id': 16416, 'category_id': 335}, {'group_id': 114401, 'category_id': 105}, {'group_id': 114401, 'category_id': 139}, {'group_id': 114401, 'category_id': 300}, {'group_id': 114401, 'category_id': 437}, {'group_id': 114401, 'category_id': 476}  ... displaying 10 of 2056 total bound parameter sets ...  {'group_id': 117921, 'category_id': 327}, {'group_id': 117921, 'category_id': 801}]
2023-09-28 07:56:12,799 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`book_store`.`group_category`, CONSTRAINT `group_category_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `category` (`id`))
[SQL: INSERT INTO group_category (group_id, category_id) VALUES (%(group_id)s, %(category_id)s)]
[parameters: [{'group_id': 16416, 'category_id': 97}, {'group_id': 16416, 'category_id': 168}, {'group_id': 16416, 'category_id': 335}, {'group_id': 114401, 'category_id': 105}, {'group_id': 114401, 'category_id': 139}, {'group_id': 114401, 'category_id': 300}, {'group_id': 114401, 'category_id': 437}, {'group_id': 114401, 'category_id': 476}  ... displaying 10 of 2056 total bound parameter sets ...  {'group_id': 117921, 'category_id': 327}, {'group_id': 117921, 'category_id': 801}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# book_publisher

In [17]:
df_book_publisher = pd.read_csv('data_csv_1_25001/book_publisher.csv')
df_book_publisher.to_csv('modified_book_publisher.csv', index=False)
df_book_publisher.to_sql('book_publisher', engine, if_exists='append', index=False)

2023-09-28 07:59:28,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:59:28,943 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-28 07:59:28,945 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 07:59:28,950 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 07:59:28,952 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 07:59:28,959 INFO sqlalchemy.engine.Engine INSERT INTO book_publisher (publisher_id, book_code) VALUES (%(publisher_id)s, %(book_code)s)
2023-09-28 07:59:28,961 INFO sqlalchemy.engine.Engine [generated in 0.00586s] [{'publisher_id': 1246, 'book_code': 16416.0}, {'publisher_id': 1472, 'book_code': 114401.0}, {'publisher_id': 19, 'book_code': 2981.0}, {'publisher_id': 2018, 'book_code': 113703.0}, {'publisher_id': 2193, 'book_code': 34251.0}, {'publisher_id': 1967, 'book_code': 67336.0}, {'publisher_id': 81, 'book_code': 59683.0}, {'publisher_id': 1786, 'book_code': 23465.0}  ... displaying 10 of 411 total bound parameter sets ...  {'publisher_id': 2908, 'book_code': 76680.0}, {'publisher_id': 1807, 'book_code': 117921.0}]
2023-09-28 07:59:29,034 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`book_store`.`book_publisher`, CONSTRAINT `book_publisher_ibfk_2` FOREIGN KEY (`publisher_id`) REFERENCES `publisher` (`id`))
[SQL: INSERT INTO book_publisher (publisher_id, book_code) VALUES (%(publisher_id)s, %(book_code)s)]
[parameters: [{'publisher_id': 1246, 'book_code': 16416.0}, {'publisher_id': 1472, 'book_code': 114401.0}, {'publisher_id': 19, 'book_code': 2981.0}, {'publisher_id': 2018, 'book_code': 113703.0}, {'publisher_id': 2193, 'book_code': 34251.0}, {'publisher_id': 1967, 'book_code': 67336.0}, {'publisher_id': 81, 'book_code': 59683.0}, {'publisher_id': 1786, 'book_code': 23465.0}  ... displaying 10 of 411 total bound parameter sets ...  {'publisher_id': 2908, 'book_code': 76680.0}, {'publisher_id': 1807, 'book_code': 117921.0}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# crew

In [18]:
df_crew = pd.read_csv('data_csv_1_25001/crew.csv')
df_crew.dropna(subset=["book_code"],inplace=True)
df_crew.rename(columns={'name': 'person_counter'}, inplace=True)
df_crew.to_csv('modified_crew.csv', index=False)
df_crew.to_sql('crew', engine, if_exists='append', index=False)

2023-09-28 08:23:14,820 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 08:23:14,823 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`crew`
2023-09-28 08:23:14,824 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 08:23:15,126 INFO sqlalchemy.engine.Engine ROLLBACK
2023-09-28 08:23:15,128 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 08:23:15,132 INFO sqlalchemy.engine.Engine INSERT INTO crew (book_code, person_counter, `role`) VALUES (%(book_code)s, %(person_counter)s, %(role)s)
2023-09-28 08:23:15,133 INFO sqlalchemy.engine.Engine [generated in 0.00256s] [{'book_code': 16416, 'person_counter': 0, 'role': 'writer'}, {'book_code': 16416, 'person_counter': 1, 'role': 'translator'}, {'book_code': 114401, 'person_counter': 2, 'role': 'writer'}, {'book_code': 2981, 'person_counter': 3, 'role': 'writer'}, {'book_code': 2981, 'person_counter': 4, 'role': 'translator'}, {'book_code': 113703, 'person_counter': 5, 'role': 'writer'}, {'book_code': 34251, 'person_counter': 6, 'role': 'writer'}, {'book_code': 34251, 'person_counter': 7, 'role': 'translator'}  ... displaying 10 of 328 total bound parameter sets ...  {'book_code': 26795, 'person_counter': 319, 'role': 'writer'}, {'book_code': 26795, 'person_counter': 43, 'role': 'translator'}]
2023-09-28 08:23:15,151 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`book_store`.`crew`, CONSTRAINT `crew_ibfk_2` FOREIGN KEY (`person_counter`) REFERENCES `person` (`counter`))
[SQL: INSERT INTO crew (book_code, person_counter, `role`) VALUES (%(book_code)s, %(person_counter)s, %(role)s)]
[parameters: [{'book_code': 16416, 'person_counter': 0, 'role': 'writer'}, {'book_code': 16416, 'person_counter': 1, 'role': 'translator'}, {'book_code': 114401, 'person_counter': 2, 'role': 'writer'}, {'book_code': 2981, 'person_counter': 3, 'role': 'writer'}, {'book_code': 2981, 'person_counter': 4, 'role': 'translator'}, {'book_code': 113703, 'person_counter': 5, 'role': 'writer'}, {'book_code': 34251, 'person_counter': 6, 'role': 'writer'}, {'book_code': 34251, 'person_counter': 7, 'role': 'translator'}  ... displaying 10 of 328 total bound parameter sets ...  {'book_code': 26795, 'person_counter': 319, 'role': 'writer'}, {'book_code': 26795, 'person_counter': 43, 'role': 'translator'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# finish