# connect

In [12]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store1'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-10-01 22:24:01,443 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-10-01 22:24:01,525 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:24:01,615 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-10-01 22:24:01,615 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:24:01,617 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-10-01 22:24:01,618 INFO sqlalchemy.engine.Engine [raw sql] {}

# create model database

In [13]:
#Creating Tables
#book
book = Table(
    'book', meta,
    Column('code', Integer, primary_key=True),
    Column('title_persian', String(2000)),
    Column('title_english', String(2000)),
    Column('price', Integer),
    Column('discount', Integer),
    Column('grade', Integer),
    Column('shabak', String(50)),
    Column('page_count', Integer),
    Column('release_year_sh', Integer),
    Column('release_year_mi', Integer),
    Column('exist', BOOLEAN),
    Column('earliest_access', DATE),
    Column('print_series', Integer),
    Column('cover', String(100)),
    Column('ghate', String(100))
)
meta.create_all(engine)

2023-10-01 22:24:04,538 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 22:24:04,539 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 22:24:04,541 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:24:04,633 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	code INTEGER NOT NULL AUTO_INCREMENT,
	title_persian VARCHAR(2000),
	title_english VARCHAR(2000),
	price INTEGER,
	discount INTEGER,
	grade INTEGER,
	shabak VARCHAR(50),
	page_count INTEGER,
	release_year_sh INTEGER,
	release_year_mi INTEGER,
	exist BOOL,
	earliest_access DATE,
	print_series INTEGER,
	cover VARCHAR(100),
	ghate VARCHAR(100),
	PRIMARY KEY (code)
)


2023-10-01 22:24:04,634 INFO sqlalchemy.engine.Engine [no key 0.00142s] {}
2023-10-01 22:24:04,789 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
#group
group = Table(
    'group', meta,
    Column('id', Integer, primary_key=True),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-10-01 22:24:06,180 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 22:24:06,184 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 22:24:06,186 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:24:06,212 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 22:24:06,213 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:24:06,219 INFO sqlalchemy.engine.Engine
CREATE TABLE `group` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-10-01 22:24:06,220 INFO sqlalchemy.engine.Engine [no key 0.00166s] {}
2023-10-01 22:24:06,253 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
#group_book
group_book = Table(
    'group_book', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id')),
    Column('book_code', Integer, ForeignKey('book.code'))
)
meta.create_all(engine)

2023-10-01 22:55:06,004 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 22:55:06,110 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 22:55:06,127 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:55:06,336 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 22:55:06,338 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:55:06,341 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 22:55:06,342 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 22:55:06,429 INFO sqlalchemy.engine.Engine
CREATE TABLE group_book (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	book_code INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id),
	FOREIGN KEY(book_code) REFERENCES book (code)
)


2023-10-01 22:55:06,439 INFO sqlalchemy.engine.Engine [no key 0.01069s] {}
2023-10-01 22:55:06,820 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#person
person = Table(
    'person', meta,
    Column('counter', Integer, primary_key=True,autoincrement=True),
    Column('id', Integer),
    Column('name', String(100)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-10-01 21:43:55,182 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:55,184 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:55,187 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,197 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:55,199 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,206 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:55,208 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,216 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:55,217 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,227 INFO sqlalchemy.engine.Engine
CREATE TABLE person (
	counter INTEGER NOT NULL AUTO_INCREMENT,
	id INTEGER,
	name VARCHAR(100),
	description VARCHAR(5000),
	PRIMARY KEY (counter)
)


2023-10-01 21:43:55,228 INFO sqlalchemy.engine.Engine [no key 0.00195s] {}
2023-10-01 21:43:55,256 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
#publisher
publisher = Table(
    'publisher', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100))
)
meta.create_all(engine)

2023-10-01 21:43:55,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:55,326 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:55,327 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,331 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:55,332 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,339 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:55,340 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,345 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:55,347 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,355 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`publisher`
2023-10-01 21:43:55,360 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,368 INFO sqlalchemy.engine.Engine
CREATE TABLE publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100),
	PRIMARY KEY (id)
)


2023-10-01 21:43:55,373 INFO sqlalchemy.engine.Engine [no key 0.00465s] {}
2023-10-01 21:43:55,480 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
#category
category = Table(
    'category', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(150)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-10-01 21:43:55,567 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:55,570 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:55,574 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,580 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:55,582 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,587 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:55,590 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,593 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:55,594 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,596 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`publisher`
2023-10-01 21:43:55,597 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,600 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`category`
2023-10-01 21:43:55,601 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,609 INFO sqlalchemy.engine.Engine
CREATE TABLE category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(150),
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-10-01 21:43:55,610 INFO sqlalchemy.engine.Engine [no key 0.00189s] {}
2023-10-01 21:43:55,632 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
#group_category
group_category = Table(
    'group_category', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id')),
    Column('category_id', Integer, ForeignKey('category.id'))
)
meta.create_all(engine)

2023-10-01 21:43:55,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:55,715 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:55,716 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,720 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:55,722 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,728 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:55,729 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,732 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:55,733 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,738 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`publisher`
2023-10-01 21:43:55,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,745 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`category`
2023-10-01 21:43:55,745 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,749 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_category`
2023-10-01 21:43:55,750 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,756 INFO sqlalchemy.engine.Engine
CREATE TABLE group_category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id),
	FOREIGN KEY(category_id) REFERENCES category (id)
)


2023-10-01 21:43:55,758 INFO sqlalchemy.engine.Engine [no key 0.00248s] {}
2023-10-01 21:43:55,803 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
#book_publisher
book_publisher = Table(
    'book_publisher', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('publisher_id', Integer, ForeignKey('publisher.id'))
)
meta.create_all(engine)

2023-10-01 21:43:55,921 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:55,926 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:55,927 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,931 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:55,932 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,940 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:55,942 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,946 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:55,947 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,951 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`publisher`
2023-10-01 21:43:55,953 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,960 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`category`
2023-10-01 21:43:55,961 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,967 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_category`
2023-10-01 21:43:55,968 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,981 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book_publisher`
2023-10-01 21:43:55,982 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:55,990 INFO sqlalchemy.engine.Engine
CREATE TABLE book_publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	publisher_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(publisher_id) REFERENCES publisher (id)
)


2023-10-01 21:43:55,991 INFO sqlalchemy.engine.Engine [no key 0.00244s] {}
2023-10-01 21:43:56,033 INFO sqlalchemy.engine.Engine COMMIT

In [11]:
#crew
crew = Table(
    'crew', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('person_counter', Integer, ForeignKey('person.counter')),
    Column('role', String(15))
)
meta.create_all(engine)

2023-10-01 21:43:56,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 21:43:56,084 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book`
2023-10-01 21:43:56,086 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,095 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group`
2023-10-01 21:43:56,096 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,100 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_book`
2023-10-01 21:43:56,102 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,110 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`person`
2023-10-01 21:43:56,111 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,115 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`publisher`
2023-10-01 21:43:56,116 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,121 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`category`
2023-10-01 21:43:56,123 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,128 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`group_category`
2023-10-01 21:43:56,129 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,134 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`book_publisher`
2023-10-01 21:43:56,137 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,147 INFO sqlalchemy.engine.Engine DESCRIBE `book_store1`.`crew`
2023-10-01 21:43:56,148 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-10-01 21:43:56,155 INFO sqlalchemy.engine.Engine
CREATE TABLE crew (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	person_counter INTEGER,
	`role` VARCHAR(15),
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(person_counter) REFERENCES person (counter)
)


2023-10-01 21:43:56,157 INFO sqlalchemy.engine.Engine [no key 0.00332s] {}
2023-10-01 21:43:56,241 INFO sqlalchemy.engine.Engine COMMIT