# connect

In [40]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-09-28 09:12:16,565 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-28 09:12:16,566 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:16,571 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-28 09:12:16,571 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:16,573 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-28 09:12:16,574 INFO sqlalchemy.engine.Engine [raw sql] {}

# create model database

In [41]:
#Creating Tables
#book
book = Table(
    'book', meta,
    Column('code', Integer, primary_key=True),
    Column('title_persian', String(2000)),
    Column('title_english', String(2000)),
    Column('price', Integer),
    Column('discount', Integer),
    Column('grade', Integer),
    Column('shabak', String(50)),
    Column('page_count', Integer),
    Column('release_year_sh', Integer),
    Column('release_year_mi', Integer),
    Column('exist', BOOLEAN),
    Column('earliest_access', DATE),
    Column('print_series', Integer),
    Column('cover', String(100)),
    Column('ghate', String(100))
)
meta.create_all(engine)

2023-09-28 09:12:16,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:16,720 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:16,721 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:16,738 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	code INTEGER NOT NULL AUTO_INCREMENT,
	title_persian VARCHAR(2000),
	title_english VARCHAR(2000),
	price INTEGER,
	discount INTEGER,
	grade INTEGER,
	shabak VARCHAR(50),
	page_count INTEGER,
	release_year_sh INTEGER,
	release_year_mi INTEGER,
	exist BOOL,
	earliest_access DATE,
	print_series INTEGER,
	cover VARCHAR(100),
	ghate VARCHAR(100),
	PRIMARY KEY (code)
)


2023-09-28 09:12:16,740 INFO sqlalchemy.engine.Engine [no key 0.00311s] {}
2023-09-28 09:12:16,823 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
#group
group = Table(
    'group', meta,
    Column('id', Integer, primary_key=True),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-28 09:12:16,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:16,892 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:16,893 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:16,900 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:16,900 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:16,903 INFO sqlalchemy.engine.Engine
CREATE TABLE `group` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-09-28 09:12:16,905 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2023-09-28 09:12:16,950 INFO sqlalchemy.engine.Engine COMMIT

In [43]:
#group_book
group_book = Table(
    'group_book', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id')),
    Column('book_code', Integer, ForeignKey('book.code'))
)
meta.create_all(engine)

2023-09-28 09:12:17,026 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,031 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,034 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,038 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,040 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,046 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,048 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,053 INFO sqlalchemy.engine.Engine
CREATE TABLE group_book (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	book_code INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id),
	FOREIGN KEY(book_code) REFERENCES book (code)
)


2023-09-28 09:12:17,054 INFO sqlalchemy.engine.Engine [no key 0.00158s] {}
2023-09-28 09:12:17,117 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
#person
person = Table(
    'person', meta,
    Column('counter', Integer, primary_key=True,autoincrement=True),
    Column('id', Integer),
    Column('name', String(100)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-28 09:12:17,185 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,186 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,187 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,190 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,191 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,198 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,200 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,203 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:17,204 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,207 INFO sqlalchemy.engine.Engine
CREATE TABLE person (
	counter INTEGER NOT NULL AUTO_INCREMENT,
	id INTEGER,
	name VARCHAR(100),
	description VARCHAR(5000),
	PRIMARY KEY (counter)
)


2023-09-28 09:12:17,208 INFO sqlalchemy.engine.Engine [no key 0.00118s] {}
2023-09-28 09:12:17,241 INFO sqlalchemy.engine.Engine COMMIT

In [45]:
#publisher
publisher = Table(
    'publisher', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100))
)
meta.create_all(engine)

2023-09-28 09:12:17,338 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,340 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,342 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,350 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,352 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,356 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,357 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,359 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:17,360 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,366 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 09:12:17,367 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,369 INFO sqlalchemy.engine.Engine
CREATE TABLE publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100),
	PRIMARY KEY (id)
)


2023-09-28 09:12:17,371 INFO sqlalchemy.engine.Engine [no key 0.00168s] {}
2023-09-28 09:12:17,422 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
#category
category = Table(
    'category', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(150)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-28 09:12:17,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,511 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,518 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,522 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,523 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,527 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,538 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:17,540 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,543 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 09:12:17,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,555 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-28 09:12:17,557 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,562 INFO sqlalchemy.engine.Engine
CREATE TABLE category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(150),
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-09-28 09:12:17,564 INFO sqlalchemy.engine.Engine [no key 0.00365s] {}
2023-09-28 09:12:17,657 INFO sqlalchemy.engine.Engine COMMIT

In [47]:
#group_category
group_category = Table(
    'group_category', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id')),
    Column('category_id', Integer, ForeignKey('category.id'))
)
meta.create_all(engine)

2023-09-28 09:12:17,768 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,770 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,771 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,776 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,777 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,782 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,783 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,786 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:17,786 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,791 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 09:12:17,792 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,797 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-28 09:12:17,798 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,803 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-28 09:12:17,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,807 INFO sqlalchemy.engine.Engine
CREATE TABLE group_category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id),
	FOREIGN KEY(category_id) REFERENCES category (id)
)


2023-09-28 09:12:17,808 INFO sqlalchemy.engine.Engine [no key 0.00109s] {}
2023-09-28 09:12:17,853 INFO sqlalchemy.engine.Engine COMMIT

In [48]:
#book_publisher
book_publisher = Table(
    'book_publisher', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('publisher_id', Integer, ForeignKey('publisher.id'))
)
meta.create_all(engine)

2023-09-28 09:12:17,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:17,959 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:17,961 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,969 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:17,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,976 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:17,978 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,986 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:17,989 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:17,993 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 09:12:17,995 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,003 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-28 09:12:18,007 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,014 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-28 09:12:18,017 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,025 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-28 09:12:18,026 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,031 INFO sqlalchemy.engine.Engine
CREATE TABLE book_publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	publisher_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(publisher_id) REFERENCES publisher (id)
)


2023-09-28 09:12:18,033 INFO sqlalchemy.engine.Engine [no key 0.00228s] {}
2023-09-28 09:12:18,078 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
#crew
crew = Table(
    'crew', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('person_counter', Integer, ForeignKey('person.counter')),
    Column('role', String(15))
)
meta.create_all(engine)

2023-09-28 09:12:18,136 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-28 09:12:18,138 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-28 09:12:18,139 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,142 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-28 09:12:18,143 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,148 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-28 09:12:18,149 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,153 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-28 09:12:18,153 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,156 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-28 09:12:18,157 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,160 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-28 09:12:18,162 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,168 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-28 09:12:18,169 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,173 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-28 09:12:18,215 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,223 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`crew`
2023-09-28 09:12:18,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-28 09:12:18,230 INFO sqlalchemy.engine.Engine
CREATE TABLE crew (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	person_counter INTEGER,
	`role` VARCHAR(15),
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(person_counter) REFERENCES person (counter)
)


2023-09-28 09:12:18,247 INFO sqlalchemy.engine.Engine [no key 0.01666s] {}
2023-09-28 09:12:18,293 INFO sqlalchemy.engine.Engine COMMIT