# connect

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, MetaData, URL, Identity
from sqlalchemy import Table, Column, Integer, String, BOOLEAN, DATE, ForeignKey


#Creating Database,Connection
meta = MetaData()
USERNAME = 'root'
PASSWORD = '13771377Mnn@'
SERVER = 'localhost'
PORT = 3306
DATABASE = 'book_store'

url_object = URL.create("mysql+mysqlconnector",
                        username=USERNAME,
                        password=PASSWORD,
                        host=SERVER,
                        database=DATABASE)
engine = create_engine(url_object,echo = True)
conn = engine.connect()

2023-09-26 23:55:09,300 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-09-26 23:55:09,301 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,303 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-09-26 23:55:09,304 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,307 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-09-26 23:55:09,310 INFO sqlalchemy.engine.Engine [raw sql] {}

# create model database

In [2]:
#Creating Tables
#book
book = Table(
    'book', meta,
    Column('code', Integer, primary_key=True),
    Column('title_persian', String(2000)),
    Column('title_english', String(2000)),
    Column('price', Integer),
    Column('discount', Integer),
    Column('grade', Integer),
    Column('shabak', String(50)),
    Column('page_count', Integer),
    Column('release_year_sh', Integer),
    Column('release_year_mi', Integer),
    Column('exist', BOOLEAN),
    Column('earliest_access', DATE),
    Column('print_series', Integer),
    Column('cover', String(100)),
    Column('ghate', String(100))
)
meta.create_all(engine)

2023-09-26 23:55:09,412 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:09,416 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:09,419 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,468 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	code INTEGER NOT NULL AUTO_INCREMENT,
	title_persian VARCHAR(2000),
	title_english VARCHAR(2000),
	price INTEGER,
	discount INTEGER,
	grade INTEGER,
	shabak VARCHAR(50),
	page_count INTEGER,
	release_year_sh INTEGER,
	release_year_mi INTEGER,
	exist BOOL,
	earliest_access DATE,
	print_series INTEGER,
	cover VARCHAR(100),
	ghate VARCHAR(100),
	PRIMARY KEY (code)
)


2023-09-26 23:55:09,469 INFO sqlalchemy.engine.Engine [no key 0.00202s] {}
2023-09-26 23:55:09,612 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
#group
group = Table(
    'group', meta,
    Column('id', Integer, primary_key=True),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-26 23:55:09,770 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:09,772 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:09,773 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,789 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:09,792 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,803 INFO sqlalchemy.engine.Engine
CREATE TABLE `group` (
	id INTEGER NOT NULL AUTO_INCREMENT,
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-09-26 23:55:09,804 INFO sqlalchemy.engine.Engine [no key 0.00201s] {}
2023-09-26 23:55:09,868 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
#group_book
group_book = Table(
    'group_book', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id'))
)
meta.create_all(engine)

2023-09-26 23:55:09,946 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:09,950 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:09,952 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,960 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:09,966 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,981 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:09,983 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:09,988 INFO sqlalchemy.engine.Engine
CREATE TABLE group_book (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id)
)


2023-09-26 23:55:09,989 INFO sqlalchemy.engine.Engine [no key 0.00172s] {}
2023-09-26 23:55:10,057 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
#person
person = Table(
    'person', meta,
    Column('counter', Integer, primary_key=True,autoincrement=True),
    Column('id', Integer),
    Column('name', String(100)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-26 23:55:10,188 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:10,191 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:10,194 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,204 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:10,206 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,216 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:10,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,238 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:10,245 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,250 INFO sqlalchemy.engine.Engine
CREATE TABLE person (
	counter INTEGER NOT NULL AUTO_INCREMENT,
	id INTEGER,
	name VARCHAR(100),
	description VARCHAR(5000),
	PRIMARY KEY (counter)
)


2023-09-26 23:55:10,252 INFO sqlalchemy.engine.Engine [no key 0.00215s] {}
2023-09-26 23:55:10,299 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
#publisher
publisher = Table(
    'publisher', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(100))
)
meta.create_all(engine)

2023-09-26 23:55:10,443 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:10,449 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:10,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,457 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:10,460 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,472 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:10,474 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,485 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:10,489 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,496 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-26 23:55:10,497 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,500 INFO sqlalchemy.engine.Engine
CREATE TABLE publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100),
	PRIMARY KEY (id)
)


2023-09-26 23:55:10,502 INFO sqlalchemy.engine.Engine [no key 0.00168s] {}
2023-09-26 23:55:10,557 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
#category
category = Table(
    'category', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(50)),
    Column('description', String(5000))
)
meta.create_all(engine)

2023-09-26 23:55:10,646 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:10,650 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:10,652 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,657 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:10,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,667 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:10,668 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,672 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:10,672 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,678 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-26 23:55:10,680 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,687 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-26 23:55:10,688 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,690 INFO sqlalchemy.engine.Engine
CREATE TABLE category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50),
	description VARCHAR(5000),
	PRIMARY KEY (id)
)


2023-09-26 23:55:10,700 INFO sqlalchemy.engine.Engine [no key 0.00960s] {}
2023-09-26 23:55:10,767 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
#group_category
group_category = Table(
    'group_category', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('group_id', Integer, ForeignKey('group.id')),
    Column('category_id', Integer, ForeignKey('category.id'))
)
meta.create_all(engine)

2023-09-26 23:55:10,933 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:10,939 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:10,942 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,956 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:10,964 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,979 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:10,987 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:10,992 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:10,997 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,006 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-26 23:55:11,010 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,014 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-26 23:55:11,015 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,019 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-26 23:55:11,020 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,023 INFO sqlalchemy.engine.Engine
CREATE TABLE group_category (
	id INTEGER NOT NULL AUTO_INCREMENT,
	group_id INTEGER,
	category_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(group_id) REFERENCES `group` (id),
	FOREIGN KEY(category_id) REFERENCES category (id)
)


2023-09-26 23:55:11,025 INFO sqlalchemy.engine.Engine [no key 0.00179s] {}
2023-09-26 23:55:11,153 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
#book_publisher
book_publisher = Table(
    'book_publisher', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('publisher_id', Integer, ForeignKey('publisher.id'))
)
meta.create_all(engine)

2023-09-26 23:55:11,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:11,403 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:11,408 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,413 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:11,414 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,417 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:11,418 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,422 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:11,423 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,434 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-26 23:55:11,440 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,449 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-26 23:55:11,451 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,455 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-26 23:55:11,456 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,465 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-26 23:55:11,468 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,473 INFO sqlalchemy.engine.Engine
CREATE TABLE book_publisher (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	publisher_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(publisher_id) REFERENCES publisher (id)
)


2023-09-26 23:55:11,475 INFO sqlalchemy.engine.Engine [no key 0.00206s] {}
2023-09-26 23:55:11,545 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
#crew
crew = Table(
    'crew', meta,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('book_code', Integer, ForeignKey('book.code')),
    Column('person_counter', Integer, ForeignKey('person.counter')),
    Column('role', String(15))
)
meta.create_all(engine)

2023-09-26 23:55:11,628 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-26 23:55:11,632 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book`
2023-09-26 23:55:11,633 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,638 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group`
2023-09-26 23:55:11,639 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,643 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_book`
2023-09-26 23:55:11,644 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,647 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`person`
2023-09-26 23:55:11,648 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,651 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`publisher`
2023-09-26 23:55:11,652 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,657 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`category`
2023-09-26 23:55:11,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,663 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`group_category`
2023-09-26 23:55:11,664 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,667 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`book_publisher`
2023-09-26 23:55:11,669 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,673 INFO sqlalchemy.engine.Engine DESCRIBE `book_store`.`crew`
2023-09-26 23:55:11,675 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-09-26 23:55:11,718 INFO sqlalchemy.engine.Engine
CREATE TABLE crew (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_code INTEGER,
	person_counter INTEGER,
	`role` VARCHAR(15),
	PRIMARY KEY (id),
	FOREIGN KEY(book_code) REFERENCES book (code),
	FOREIGN KEY(person_counter) REFERENCES person (counter)
)


2023-09-26 23:55:11,719 INFO sqlalchemy.engine.Engine [no key 0.03429s] {}
2023-09-26 23:55:11,862 INFO sqlalchemy.engine.Engine COMMIT