# Analysis & Testing

In [1]:
import requierd_dataframes as rd
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

## 1. Client Oder #1
### “Top Five Romance Authors”

In [2]:
df1 = rd.request_one()
df1.fillna(0, inplace=True)

/Users/kvmmn/Desktop/data_summit/quda/quda_projects/Book-Store/kaveh_analysis/requierd_dataframes.py:68: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

In [3]:
# Normalize numerical values to the range (1, 2)

cols_to_scale = [
    "num_of_romance_books",
    "avg_grade",
    "num_of_awards_tags",
    "num_of_list_tags",
]
min_max_scaler = MinMaxScaler(feature_range=(1, 2))
df1[cols_to_scale] = min_max_scaler.fit_transform(df1[cols_to_scale])

df1.head()

,name,num_of_romance_books,avg_grade,num_of_awards_tags,num_of_list_tags,description
0,شارلوت برونته,2.000000,1.5614,1.000,2.000000,شارلوت برونته، زاده ی ۲۱ آوریل ۱۸۱۶ و درگذشته ...
1,اف اسکات فیتزجرالد,1.210227,2.0000,1.000,1.179878,0
2,آندره ژید,1.043561,1.6667,2.000,1.002287,پل گیوم آندره ژید، زاده ی ۱۸۶۹ و درگذشته ی ۱۹۵...
3,هاروکی موراکامی,1.026515,2.0000,1.375,1.008384,هاروکی موراکامی در ۱۲ ژانویه ۱۹۴۹ در کیوتو ژاپ...
4,جوجو مویز,1.020833,2.0000,1.000,1.000000,0

In [4]:
# Compute the final metric for each author
# Approach:
#   Very strong Rating effect
#   Strong number of books effect

df1["metric"] = round(
    df1["num_of_romance_books"] ** 2
    * df1["avg_grade"] ** 3
    * df1["num_of_awards_tags"]
    * df1["num_of_list_tags"],
    2,
)

top_writers = df1[["name", "metric"]].sort_values(by="metric", ascending=False).head(5)

print(f"Top 5 writers are: ")
display(top_writers)

Top 5 writers are:

                 name  metric
0       شارلوت برونته   30.45
1  اف اسکات فیتزجرالد   13.82
3     هاروکی موراکامی   11.69
2           آندره ژید   10.11
4           جوجو مویز    8.34

In [5]:
df2 = rd.request_two()
df2

/Users/kvmmn/Desktop/data_summit/quda/quda_projects/Book-Store/kaveh_analysis/requierd_dataframes.py:96: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

,code,title_persian,title_english,price,release_year_mi,release_year_sh,grade,page_count,cover,num_of_award_tags,num_of_list_tags
0,115704,خداحافظ گل سوری,Selected poems,73000,NaN,1397.0,4,183.0,شومیز,NaN,NaN
1,32523,الفاظ و اشیا,The Order of Things,440000,1966.0,1402.0,4,512.0,شومیز,NaN,NaN
2,94001,گریه کن سرزمین محبوب من,Cry my beloved land,80000,NaN,1401.0,4,174.0,شومیز,NaN,NaN
3,64403,کارگاه ها,Atelieres,240000,1996.0,1400.0,4,603.0,جلدسخت,NaN,NaN
4,73920,چگونه ایمیل های موثر تهیه کنیم,Writing Effective E-Mail,49900,1998.0,1388.0,3,183.0,شومیز,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3588,60983,مبانی روان شناسی ورزش و تمرین 1,Foundations of sport and exercise psychology,279000,2011.0,1401.0,3,436.0,شومیز,NaN,1.0
3589,96799,مبانی روان شناسی ورزش و تمرین 2,Foundations of sport and exercise psychology,299000,1995.0,1401.0,3,472.0,شومیز,NaN,1.0
3590,71279,روش خوردن هوشمندانه,Bright Line Eating,119000,2017.0,1399.0,4,312.0,شومیز,NaN,NaN
3591,60442,60 نکته آشپزی,Cooking,1000,NaN,1387.0,3,31.0,شومیز,NaN,NaN
3592,41066,سه سفرنامه,Three travelogues,55000,NaN,1398.0,4,482.0,زرکوب,NaN,NaN